{#
    :: Flexible Content Blocks Base Pattern ::

    PARAMS:
    - flexibleContents:		Flexible blocks {<list>}
#}

{# Variables #}
{% set flexibleContent = flexibleContent|default( empty ) %}



{# Content #}
{% if flexibleContent is defined and flexibleContent|length > 0 %}

	{% for flexible in flexibleContent %}

		{% if flexible.anchor is defined %}
		<div class="o-section" id="{{flexible.anchor}}">
		{% else %}
		<div class="o-section">
		{% endif %}
				{% include ['components/flexible/' ~ flexible.layout ~ '.twig'] ignore missing with { contents:flexible.contents, flexIndex: loop.index, api:api, greenNumb: greenNumb, greenImg: greenImg } only %}
		</div>

	{% endfor %}
{% endif %}
