.header {
	background-color: rgba($blue, .8);
	padding: 5px 0;
	z-index: 11;
	position: absolute;
	top: 0;
	width: 100%;

	@include bp($dk) {
		padding: 0;
	}

	@include bp(1930px) {
		background-color: $blue;
	}

	.container-menu {
		width: 100%;

		@include bp(992px) {
			max-width: 960px;
			margin: auto;
		}
		@include bp(1200px) {
			max-width: 1140px;
			margin: auto;
		}
	}

	.strips
	{
		.strip
		{
			display: none;
			-webkit-transition: right 0.2s linear;
	    transition: right 0.2s linear;

			@include bp($dk) {
				display: block;
			}
			&.opened
			{
				@include bp($dk) {
					right: 80vw;

					&.strip-a-small,
					&.strip-a-small.strip-chiamaci {
						right: 400px !important;
					}

				}

				@include bp(1920px) {
					right: 1300px;
				}
			}

			&.no-callme{
		    right: 0px;

		    @include bp($dk) {
		      right: 45vw!important;
		    }

		    @include bp($hd-dk) {
		      right: 32vw!important;
		    }

		  }
		}

		top: 60px;
		position: fixed;
		right: 0px;
		// transform: translateY(-50%);
		width: 0px;


		@include bp($dk) {
			top: 132px;
		}
	}

}

.admin-bar .header{
	//top: 32px;
}

#wpadminbar {
    position: fixed!important;
}

.home-template,
.page-template-page-privati,
.home-template-page-servizi-home,
.home-template-template-configuratore,
.office-template-template-configuratore,
.post-type-archive-home {
	.header {
		background-color: $white;

		.breadcrumbs {
			display: none;
		}
	}
}
