{% extends "base.twig" %}

{% block contentTop %}
	{% include 'components/organisms/slider.twig' with { slider: slider, single: true } only %}
{% endblock %}

{% block content %}
	{% include 'components/flexible/news.twig' with {contents: news_query} only %}
	<div class="more">
		<div class="spinner hidden"></div>
		{% include 'components/atoms/cta.twig' with { link: '', label: 'SCOPRI DI PIÙ', classes: 'more-btn', inverted: inverted } only %}
	</div>
{% endblock %}
