.page-template-page-contacts {
	.breadcrumbs {
		color: $text-color;

		a {
			color: $text-color;
		}
	}

	.call-me-form .btn,
	.strip_form button {
		font-weight: $font-weight-normal;
		padding: 6px 30px;
		text-align: center;
		width: 80%;
	}

	.strip {
		&_list {
			margin-bottom: 4rem;

			h4 {
				padding-bottom: 0.5rem;
				border-bottom: 1px solid $text-color;
			}

			.content {
				ul {
					
					font-size: 16px;

					@include bp(540px) {
						column-count: 2;
						font-size: 18px;
					}
				}
			}
		}

		&_panel {
			margin-bottom: 2rem;
		}

		&_form {

			form {
				padding: 2rem;
			}

		.recapctha {
			padding: 0;

			@include bp(540px) {
				padding: unset;
			}
			width: 100%;
			height: 95px;
			margin-top: 1rem;
			margin-bottom: .5rem;

			.g-recaptcha {

				transform: scale(0.7);
				@include bp(540px) {
					transform: scale(0.9);
				}
				transform-origin: top left;
			}
		}

			&-column {
				margin-top: 2rem;
				background-color: $gray-th;

				.call-me {
					height: auto;
					padding: 0;

					h5 {
						font-style: italic;
						font-weight: $font-weight-normal;
						margin-bottom: 2rem;
					}

					&-form {
						padding: 2rem;

						input {
							&[type="text"] {
									width: 60%;
							}
						}

						.call-hour {
							margin-top: 1rem;
							margin-bottom: 1rem;
							font-size: $h5-font-size;
						}

						.field-data {
							ul {
								li {
									width: 40%;
									margin: .5rem 0 .5rem 1.5rem;
								}
							}
						}
					}
				}

				.g-num {
					text-align: center;
					display: inline-block;
					width: 100%;

					&-img {
						width: 60%;
						margin: 1rem auto .5rem;
					}
				}
			}

			h3 {
				border-bottom: 1px solid $gray-th;
				padding-bottom: 1rem;
				font-weight: $font-weight-light;

				b {
					font-weight: $font-weight-bold;
				}
			}

			h4 {
				font-size: $h3-font-size;
				padding-top: 1rem;
				padding-bottom: 1rem;
				border-bottom: 1px solid $text-color;
				text-align: center;
				font-weight: $font-weight-light;
			}

			.call {
				&-title {
					text-align: center;
					margin-bottom: 1rem;
				}

				&-input {
					display: flex;
					justify-content: center;
					align-items: center;
					@include bp($tb) {
						input {
							width: 320px;
						}
					}
				}

				&-sel {
					margin-bottom: 1rem;
				}

				&-check {
					ul {
						list-style: none;
						padding: 0;
						display: flex;
						flex-flow: row wrap;
						justify-content: flex-start;
						align-items: center;

						li {
							display: inline-block;
							margin: 0 2rem 0 0;
							position: relative;

							input[type=radio] {
								position: absolute;
								visibility: hidden;

								&:checked ~ .check {
									border: 1px solid #1b1b1b;
								}

								&:checked ~ .check:before {
									background: #1b1b1b;
								}

								:checked ~ label {
									color: #1b1b1b;
								}

								:before {
									background: transparent!important;
								}
							}

							label {
								display: block;
								padding: 4px 5px 1px 20px;
								margin: 0;
								z-index: 9;
								cursor: pointer;
								-webkit-transition: all 0.25s linear;
							}

							.check {
								display: block;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								border: 1px solid #1b1b1b;
								border-radius: 100%;
								height: 18px;
								width: 18px;
								z-index: 5;
								transition: border 0.25s linear;
								-webkit-transition: border 0.25s linear;

								&:before {
									display: block;
									position: absolute;
									content: '';
									border-radius: 100%;
									height: 8px;
									width: 8px;
									top: 4px;
									left: 4px;
									margin: auto;
									transition: background 0.25s linear;
									-webkit-transition: background 0.25s linear;
								}
							}
						}
					}
				}
			}

			&.contact-special {
				h3 {
					color: $red;
					font-weight: $font-weight-normal;
				}

				.content {
					font-size: 20px;
					text-align: center;
					margin-top: 2rem;

					small {
						font-size: 80%;
				    font-style: italic;
				    display: inline-block;
				    margin: 1.2rem 0;
					}

					a {
						color: $black;
					}

					.mailink {
						font-weight: bold;
						text-decoration: underline;
					}

					img {
						// height: 19px;
						max-width: 50%;
					}

					span {
						padding: 0 20px;
						line-height: 1;
					}

					.tel-grande {
						font-size: 30px;
						font-weight: 700;
						display: block;
						color: $black;
					}

					.button {
						width: 280px;
				    border: 0;
				    background-color: $red;
				    text-transform: uppercase;
				    color: #fff;
				    line-height: 1.5;
				    font-size: 16px;
				    padding: 10px 40px;
				    cursor: pointer;
				    margin: 3.5rem auto 2rem;
				    display: block;

						&:hover {
						  text-decoration: none;
						}
					}

				}
			}
		}

		&_text_title {
			& > h2 {
				border: 0;
			}
		}
	}
}
