.page {
  &-404{
    margin-top: 61px;

    @include bp(450px,767px) {
      margin-top: 70px;
    }

    @include bp($tb) {
      margin-top: 70px;
    }

    @include bp($dk) {
      margin-top: 106px;
    }

    .content{

      &-wrapper{

        .post-type-404{

          .container{

            .article-body {
              min-height: 500px;
              padding-top: 50px;

              a {
                display: block;
                margin: 0 auto;
                max-width: 255px;

                @include bp($tb) {
                  margin: 0;
                }
              }

              ul{
                position: relative;
                margin-bottom: 3.2rem;

                li{
                  position: relative;
                  font-size: 1.075rem;
                  padding: 0.6rem 0;

                  &::before{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: #fed443;
                    position: absolute;
                    left: -20px;
                    top: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
