.page {
  &-standard{
    margin-top: 106px;

    margin-top: 61px;

    @include bp(450px,767px) {
      margin-top: 70px;
    }

    @include bp($tb) {
      margin-top: 70px;
    }

    @include bp($dk) {
      margin-top: 106px;
    }
  }
}
