.search {
	&-page {
		margin-top: 106px;

		.single {
			&-header {
				background-position: center;
			}

			&-container {
				margin-top: 0;

				h3 {
					&.not-found {
						padding-top: 0;

						@include bp($tb){
							padding-top: 3.7rem;
						}
					}
				}
			}
		}

		.pagination {
			list-style: none;

			&-block {
				margin-top: $grid-gutter-width;
				text-align: center;
			}

			a {
				&.prev,
				&.next {
					display: inline-block;
					padding: 6px 16px;

					&.disabled {
						border-color: $gray-footer;
						color:  $gray-footer;

						&:focus,
						&:hover {
							color: $gray-footer;
							text-decoration: none;
							background-color: $white;
						}
					}
				}
			}

			li {
				display: inline-block;
				padding: 6px 16px;

				a {
					text-decoration: underline;
				}

				&.current {
					a {
						text-decoration: none;
					}
				}
			}
		}

		.side-search {
			ul {
				padding-left: 0;
				h5 {
					margin-top: 5px;
					padding: 5px 0;
					border-bottom: 1px solid $gray-th;
				}
			}

			li {
				display: block;
				margin: .5rem auto 1rem;
				padding: 5px 10px;
				border: 1px solid $gray-footer;

				&:last-child {
					border: 0;
					padding: 0;
				}


				input {
					border: 0;

					&:focus {
					  outline: 0;
					}

					&[type="text"] {
						width: 100%;
					}

					&[type="submit"] {
						padding: 5px 10px;
				    background-color: #e41e13;
				    text-transform: uppercase;
				    color: #fff;
				    cursor: pointer;
					}

				}

				select {
					width: 100%;
					padding: 5px 10px;
					border: 0;
					border-radius: 0;
					background: transparent;

					&:focus {
						outline: 0;
					}
				}
			}
		}

	}

	&-article {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		border-bottom: 1px solid $gray-th;
		margin-top: ($grid-gutter-width / 2);
		margin-bottom: 3.25rem;

		@include bp($dk) {
			flex-flow: row nowrap;
		}

		& > div {
			margin-bottom: ($grid-gutter-width / 2);
		}
	}

	&-img {
		width: 100%;

		@include bp($dk) {
			max-width: 220px;
			display: block;
		}

		a {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			display: block;

			@include bp($dk) {
				width: 220px;
				height: 170px;
			}

			img {
				width: 100%;
			}
		}
	}

	&-post {
		margin-left: 0;

		@include bp($dk) {
			margin-left: $grid-gutter-width;
		}



		h4 {
			line-height: 1;
		}

		a {
			&.read-more {
					display: block;
					text-align: right;
			    text-decoration: none;
			    font-weight: bold;
			}
		}
	}
}
