{% spaceless %}

{#
  :: HEADER SINGLE ::

  PARAMS:
  - image:            			    		{<object>}
  ---- src:												{<string>}
  ---- alt:												{<string>}
  ---- width:		 									{<string>}
  ---- height:	 									{<string>}
  ---- sizes:											{<object>}
  -------- thumbnail: 	   				{<string>}
  -------- thumbnail-width: 			{<string>}
  -------- thumbnail-height: 			{<string>}
  -------- medium: 								{<string>}
  -------- medium-width:					{<string>}
 	-------- medium-height: 				{<string>}
  -------- medium_large: 					{<string>}
  -------- medium_large-width: 		{<string>}
  -------- medium_large-height: 	{<string>}
  -------- large: 								{<string>}
  -------- large-width: 					{<string>}
  -------- large-height: 					{<string>}
	- title:											{<string>}
	- subtitle:											{<string>}



  USAGE:
  - include
#}

{# Variables set #}
{% set title = title|default(empty) %}
{% set subtitle = subtitle|default(empty) %}
{% set image = image|default(empty) %}

{# Layout #}
{% endspaceless %}<div class="single-header" style="background-image:url('{{image.src}}'); background-size: cover;">
	{% if search %}
	<div class="container">
	{% endif %}
	<h1 class="single-header-title">{{title}}</h1>
	<h3  class="single-header-subtitle">{{subtitle}}</h3>
	{% if search %}
	</div>
	{% endif %}

</div>
