{% spaceless %}

{#
  :: SLIDER ::

  PARAMS:
  - slider:    		  									{<object>}
  ---- description:										{<string>}
  ---- image:            			    		{<object>}
  -------- url:												{<string>}
  -------- alt:												{<string>}
  -------- width:		 									{<string>}
  -------- height:	 									{<string>}
  -------- sizes:											{<object>}
  ------------ thumbnail: 	   				{<string>}
  ------------ thumbnail-width: 			{<string>}
  ------------ thumbnail-height: 			{<string>}
  ------------ medium: 								{<string>}
  ------------ medium-width:					{<string>}
 	------------ medium-height: 				{<string>}
  ------------ medium_large: 					{<string>}
  ------------ medium_large-width: 		{<string>}
  ------------ medium_large-height: 	{<string>}
  ------------ large: 								{<string>}
  ------------ large-width: 					{<string>}
  ------------ large-height: 					{<string>}
	---- navigator:											{<object>}
	-------- title:											{<string>}
	-------- description:								{<string>}
	-------- anchor:										{<string>}



  USAGE:
  - include
#}

{# Variables set #}


{# Layout #}
{% endspaceless %}<div class="slider">
	{% if not single and slider|length > 1 %}

		<div class="slider-animate">

			{% for slide in slider %}

			{% include 'components/molecules/slide_header.twig' with { slide: slide } only %}

			{% endfor %}
		</div>

	{% else %}

		{% include 'components/molecules/slide_header.twig' with { slide: slider, noNav: true } only %}

	{% endif %}



	{% if not single and slider|length > 1 %}
	<div class="navigator">
		<div class="container slider-nav-as">
			{% for slide in slider %}
			{% include 'components/molecules/navigator.twig' with { title: slide.navigator.title, description: slide.navigator.subtitle, image_mobile: slide.navigator.image_mobile, index: loop.index } only %}

			{% endfor %}

		</div>
	</div>
{% endif %}
</div>
