
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
	<script type='text/javascript'>
		/* <![CDATA[ */
		var appData = {"ajaxurl":"http:\/\/localhost\/wp-admin\/admin-ajax.php","currentPage":"Standard"};
		/* ]]> */
	</script>
  <script src="../../js/main.js?{{ cacheBuster }}"></script>
  </body>
</html>
