.flex {
	&-intImage {
		// padding-top: 5rem;
		padding-top: 2rem;
		padding-bottom: 2rem;

		// @include bp($dk) {
		// 	padding-top: 2rem;
		//
		// }

		.flex-head {
	    margin-bottom: 6rem;

			@include bp($dk) {
				padding-top: 0;

			}

			p {
				text-align: left;
			}

			h2 {
				color: $blue;
				text-align: left;
				width: 100%;
				padding: 0rem 0 1rem 0rem;
				position: relative;
				z-index: 1;

				&::before {
					content: '';
			    display: block;
			    position: absolute;
			    background-color: #fed443;
			    height: 3rem;
			    width: 3rem;
					top: -4.8px;
    			left: -1rem;
			    border-radius: 100%;
			    z-index: -1;
				}

			}
		}

		&-container {
			position: relative;
			width: 100%;
			// height: 400px;

			@include bp($tb) {
				// height: 500px;
			}

		}

		&-control {
			width: 5rem;
			height: 2rem;
			background-color: $gray-th;
			border-radius: 6px;
			color: #c1c1c1;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 1rem;
			cursor: pointer;

			@include bp($tb) {
				width: 6rem;
				height: 6rem;
				border-radius: 100%;
			}

			@include bp($dk) {
				margin: 2rem 0;
				width: 7rem;
				height: 7rem;
				border-radius: 100%;
			}

			&.selected {
				background-color: $yellow;
				color: $blue;
			}

			&-text {
				font-weight: $font-weight-bold;
				font-size: 0.9rem;

				@include bp($tb) {
					font-size: 1.1rem;
				}

				@include bp($dk) {
					font-size: 1.1rem;
				}

			}

			&-aree {
				position: absolute;
				top: -4rem;
				left: 0;
				width: 100%;
				height: auto;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				z-index: 1;

				@include bp($tb) {
					top: -4rem;
				}

				@include bp($dk) {
					top: 0;
					bottom: 0;
					left: -25px;
					width: auto;
					height: 100%;
					flex-flow: column nowrap;
					justify-content: center;

				}
			}
		}

		&-areaImage {
			&-container {
				height: 100%;
				width: 100%;
			}

			&-image {
				margin: 0;
				position: relative;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				display: none;

				&-fade{
					display: none;

					&.active{
						display: block;

					}
				}

				@include bp($dk) {
					margin: 0 2.5rem;
				}

				&.active {
					display: block;

				}

				.image_rule_mobile {
					visibility: hidden;
					width: 100%;

					@include bp($dk) {
						visibility: collapse;
						width: auto;
					}
				}

			}

			&-detail {
				padding-top: 2rem;
				visibility: collapse;

				&-item {
					position: relative;
					height: 2.7rem;
					width: 2.7rem;
					background-color: $blue;
					border-radius: 100%;
					color: $white;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 10px;
					margin: 0.6rem 0;
					visibility: e;

					@include bp($dk) {
						display: none;
					}

					img {
						width: 100%;
						height: auto;
					}

					&-description {
						background-color: $blue;
						width: auto;
						height: auto;
						border-radius: 6px;
						position: absolute;
						top: 25%;
						left: 2rem;
						padding: 0;
						white-space: nowrap;
						color: transparent;
						z-index: -1;

						span {
							display: block;
							color: #fff;
							padding: 0.1rem 1rem 0.1rem 1rem;
						}
					}
				}

				&.active {
					display: flex;
			    flex-flow: column wrap;
			    justify-content: space-between;
			    width: 100%;
					visibility: visible;

					@include bp($tb) {
						max-height: 250px;
					}
					@include bp($dk) {
						display: none;
					}
				}


			}

			&-item {

				position: absolute;
				height: 3.5rem;
				width: 3.5rem;
				background-color: $blue;
				border-radius: 100%;
				color: $white;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;

				@include bp($dk) {
					height: 4rem;
					width: 4rem;
				}


				img {
					width: 100%;
					height: auto;
				}

				&-description {
					background-color: $blue;
					width: 0;
					height: auto;
					border-radius: 6px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: calc(100% - 10px);
					padding: 0;
					white-space: nowrap;
					color: transparent;
					transition: width .5s ease-in-out, padding-top .1s linear, padding-bottom .1s linear, padding-left .3s linear, padding-right .1s linear;

					span {
						display: none;
					}
				}

				$self-item: &;

				&:focus,
				&:hover {
					#{$self-item}-description {
						color: $white;
						padding: 4px 10px 5px 20px;
						width: auto;

						span {
							display: inline;
						}
					}
				}
			}
		}
	}
}
