body.post-type-archive-pa {
    &.modalwindow {
      .header-menu-section {
        ul {
          li + li {
            display: none;
          }
        }
      }


      .slider-data {
        display: none;
      }

      .strips {
        display: none;
      }

      .o-section {
        height: 400px;
				position: relative;

        .flex-modalwindows {
          position: absolute;
          width: 100%;
          top: -30%;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          z-index: 11;

          @include bp($tb) {
            top: -50%;
          }

          .container {
            .row {
              &-content {
                background: $white;
                z-index: 8;
                display: block;
              }
            }
          }
        }
      }

      .o-section + .o-section{
        display: none;
      }
    }
}

.flex-modalwindows{
  .container {
    .row {
      &-content {
        display: flex;
        flex-flow: column;
        max-width: 100%;
        padding: 10px 40px 30px;
        margin: 0 auto;

        .modal {
          display: flex;
          position:relative;
          flex-flow: column;
          max-width: 100%;
          padding: 15px 20px 0;
          margin: 0 auto;

          @include bp($tb) {
            max-width: 525px;
            padding: 20px 30px 0;
          }

          .content {

            p {
              font-size: 1.34rem;
              text-align: left;
              color: $blue;

              &::before {
                content: '';
                display: block;
                position: absolute;
                background-color: $yellow;
                height: 3rem;
                width: 3rem;
                border-radius: 100%;
                top: 0.3rem;
                left: 0rem;
                z-index: -1;

                @include bp($tb) {
                  top: 0.7rem;
                  left: 0.7rem;
                }
              }

              @include bp($tb) {
                text-align: justify;
              }
            }

            .btn-action {
              display: flex;
              flex-flow: column;
              justify-content: space-between;

              @include bp($tb) {
                flex-flow: row;
              }

              a {
                background: $gray-300;
                color: $gray-700;
                padding: 5px;
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 10px;

                &:hover, &.active {
                  background: $yellow;
                  font-weight: 600;
                  text-decoration: none;
                }

                @include bp($tb) {
                  width: 140px;
                }
              }
            }
          }
        }
        .detail {
          display: flex;
          flex-flow: column;
          background: $yellow;
          margin-top: 25px;
          min-height: 160px;
          padding: 24px 20px;
          max-width: 100%;
          justify-content: center;
          align-items: center;
          display: none;
          position: relative;

          @include bp($tb) {
            max-width: 525px;
          }

          .callcenter {
            width: 200px;
            // height: 60px;
            border-radius: 33px;
            display: flex;
            background: #fff;
            justify-content: center;
            margin: 0 auto;

            a {
              width: 144px;
              display: block;
              margin: 0 auto;
              padding: 1px;

              img {
                width: 100%;
              }
            }
          }

          &.active-center {
            display: block;
            width: 100%;

            &::before {
              left: 50%;
              transform: translateX(-50%);
            }

            .response-center {
              display:block;
            }
          }

          &.active-right {
            display:block;

            &::before {
              left: 50%;
              transform: translateX(-50%);

              @include bp($tb) {
                left: 78%;
                transform: translateX(0);

              }
            }

            .response-right {
              display:block;
            }
          }


          &::before {
            content:'';
            position: absolute;
            width: 0;
            height: 0;
            $arrow-size: 15px;
            top: -$arrow-size;
            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid transparent;
            border-bottom: $arrow-size solid $yellow;
            display: block;

          }

          p {
            color: $gray-700;
            font-size: 0.9rem;
            display: none;
          }
        }
      }
    }
  }
}
