.flex {
	&-conventions {

		text-align: left;

		.flex-head {

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			h2{
				color: $yellow;
				text-transform: uppercase;
	    	font-weight: 700;
      	display: inline-block;
				margin: 0;
			}
			img {
      	display: inline-block;
    		// float: right;
			}

			@include bp($tb) {
				flex-direction: row;
			}
		}

		.conventions-item
		{
      display: block;
    	clear: both;

			.flex-conventions-item
			{
				margin-top: 15px;

				h2
				{
					cursor: pointer;
					position: relative;
					border-bottom: 1px solid $black;
      		padding-right: 2rem;

					&::after
					{
						position: absolute;
						right: 0;
						content: '\e807';
						font-family: "icons";
				    font-style: normal;
				    font-weight: normal;
				    speak: none;
				    transition: all .3s ease;
					}
					&:hover
					{

					}
				}
				&.opened
				{
					h2
					{
						&::after
						{
							transform: rotate(180deg);
						}
					}
					.cont-conv
					{
						// display: block;
					}
				}
				.cont-conv
				{
					// display: none;
					.descr
					{
						line-height: 1.25rem;
						font-weight: 400;
				     margin: 20px 0 40px;
					}
				}
				.services
				{
					display: flex;
					flex-wrap: wrap;

					.service
					{
						padding: 0;
						position: relative;
						overflow: hidden;
						flex-basis: 100%;
						margin: 1px;

						@include bp($dk) {
							flex-basis: 49.6%;
						}
						a
						{
							img
							{
								width: 100%;
							}
							h3
							{
								text-transform: uppercase;
								color: $white;
								padding: 1rem;
								background-color: rgba($blue, .8);
								position: absolute;
								width: 100%;
								height: 100%;
								bottom: calc(-100% + 4rem);
								left: 0;
								transition: all .5s ease-in-out;
								margin-bottom: 0;
							}
							&:hover
							{
								h3
								{
									bottom: 0;
								}
							}
						}
					}
				}
			}
		}
		h3
		{
			color: $black;
			font-weight: 400;
		}
	}
}
