.flex {
	&-breakingnews {
		background-color: $yellow;

		@include bp($tb) {
			background-color: $gray-th;
		}

		&-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&-mobvar {
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				width: 60%;

				@include bp($tb) {
					flex-flow: row nowrap;
					justify-content: flex-start;
					align-items: center;
					width: 80%;
				}
			}

		}

		&-slider {
			width: 100%;

			@include bp($tb) {
				width: 80%;

			}
		}
	}
}

.o-section {
	.flex {
		&-breakingnews {
			margin-top: -50px;
		}
	}
}
