.single-agency {
	.flex {
		&-support {
			&-bg {
				background: #fff;
			}
		}
	}
}

.flex {
	&-support {
		&-bg {
			background: #fff;

			// .container {
				.flex-support-content {
					display: flex;
					flex-direction: column;
					// align-items: center;
					justify-content: center;
					padding: 37px 0;

					input[type=email],
					input[type=number],
					input[type=text],
					textarea {
						&::placeholder {
							font-style: italic;
							color: #6c757d;
							opacity: 1;
						}
					}

					.row
					{
						margin-right: 0;
						margin-left: 0;

						p {
							font-size: 0.95rem;
						}

						.btn-call,
						.btn-contact {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-items: center;
							padding: 30px 20px;
							@include bp($tb) {
								align-items: flex-end;
							}

							a.btn {
								background-color: #e41e13;
								border-color: #e41e13;
								color: #fff;
								font-weight: 400;
								width: 250px;
						    padding: 6px 10px;
						     max-width: 100%;
							}

							a.disable {
								background-color: #c6cbd5;
								border-color: #c6cbd5;
							}
						}

						.btn-contact {
							padding: 10px 20px;
							@include bp($tb) {
								align-items: flex-start;
								padding: 30px 20px;
							}
						}

						.callnow {
							text-align: center;
							display: none;

							.send {
								display: flex;
								justify-content: center;
								flex-flow: row wrap;
								align-items: center;

								.privacy {
									margin: 1rem;
									text-align: center;

									a {
										text-decoration: underline;
									}
									@include bp(870px) {
										text-align: right;
									}
								}
							}

							.btn {
								border-color: $red;
								background-color: $red;
								color: $white;
								text-align: center;
								max-width: 100%;
								padding: 6px 34px;
								margin: 0;
							}

							.spinner {
								width: 100%;
								height: 3rem;
								background-image: url("../images/loading_spinner.gif");
								background-position: center;
								background-size: contain;
								background-repeat: no-repeat;

								&.hidden {
									display: none;
								}
							}

							.message {
								width: 100%;
								margin: 1rem auto;
								border: 2px solid $green;
								display: block;
								padding: 10px;
								text-align: center;
								font-weight: $font-weight-bold;

								&.hidden {
									display: none;
								}

								&.red {
									border-color: $red;
								}
							}

							h2 {
								font-weight: 200;
								font-size: 1.6rem;
								padding: 15px 0;
								text-align: center;
							}

							h5 {
								margin-top: 50px;
								margin-bottom: 25px;
							}

							img {
								max-width: 250px;
							}

							p {
								margin-top: 10px;
							}

							input[name='telefono'] {
								background-color: #c4cad6;
								border: none;
								padding: 10px;
								width: 100%;
								@include bp($tb) {
									width: 300px;
								}
							}

							.label {
								text-align: left;
								margin-top: 50px;
								margin-bottom: 5px;
								font-style: italic;
							}

							.field-data {
								display: block;
								position: relative;
								margin: 5px auto;
								height: auto;

								ul {
									display: flex;
									flex-direction: column;
									list-style: none;
									margin: 0;
									padding: 0;
									@include bp($tb) {
										flex-direction: row;
										justify-content: space-between;
									}

									li {
										display: inline-flex;
										flex-direction: row;
										justify-content: space-between;
										align-items: center;
										position: relative;
										border: 0;

										input[type=radio] {
											position: absolute;
											visibility: hidden;

											&:checked ~ .check {
												border: 1px solid #1b1b1b;
											}

											&:checked ~ .check:before {
												background: #1b1b1b;
											}

											:checked ~ label {
												color: #1b1b1b;
											}

											:before {
												background: transparent!important;
											}
										}

										label {
											display: block;
											position: relative;
											padding: 4px 5px 1px 20px;
											margin-right: 15px;
											margin-left: 5px;
											z-index: 9;
											cursor: pointer;
											-webkit-transition: all 0.25s linear;
										}

										.check {
											display: block;
											position: absolute;
											border: 1px solid #1b1b1b;
											border-radius: 100%;
											height: 18px;
											width: 18px;
											z-index: 5;
											transition: border 0.25s linear;
											-webkit-transition: border 0.25s linear;
											top: 8px;
											left: 4px;

											&:before {
												display: block;
												position: absolute;
												content: '';
												border-radius: 100%;
												height: 8px;
												width: 8px;
												top: 4px;
												left: 4px;
												margin: auto;
												transition: background 0.25s linear;
												-webkit-transition: background 0.25s linear;
											}
										}

										&:hover label {
											color: #1b1b1b;
										}

										&:before {
											display: none!important;
										}
									}
								}

								label {
									margin: 0.2rem 0;
								}

								input {}
							}
						}

						.contactnow {
							display: none;

							a.back_strip {
								display: none;
							}

							h2 {
								font-weight: 200;
								font-size: 1.2rem;
								padding: 15px 0;
								text-align: center;
							}
						}
					}

					#emplSelCall2 {
						.radio_options {
							font-size: 16px;
							margin-bottom: 10px;

							label {
								font-size: 16px;
								text-transform: uppercase;
								// color: $blue;
								// font-weight: $Medium;
								margin-bottom: 0;
								cursor: pointer;

								input {
									position: absolute;
									opacity: 0;
									cursor: pointer;

									&:checked ~ .checkmark::after {
										display: block;
										// background: @yellow;
									}
								}

								.checkmark {
									// position: absolute;
									// top: 0;
									// left: 0;
									position: relative;
									display: inline-block;
									margin: 3px 6px;
									float: left;
									height: 16px;
									border: 2px solid $black;
									width: 16px;
									// background-color: $blue;
									border-radius: 50%;
									// .transition(opacity .3s ease);
									transition: $btn-transition;
									padding: 0;

									&::after {
										display: none;
										content: "";
										position: absolute;
										top: 3px;
										left: 3px;
										width: 6px;
										height: 6px;
										border-radius: 50%;
										background: $black;
									}
								}

								em {
									display: block;
									margin-left: 20px;
									// color: $gray-middle;
									font-size: 11px;
									// .FontFiraSans();
									font-style: normal;
								}

								&:hover {
									.checkmark {
										// opacity: 0.7;
										background-color: $gray-200;
									}
								}
							}
						}
					}

					.strip_form-column {
						margin-top: 2rem;
						background-color: $gray-th;
						height: 100%;

						h2 {
							font-weight: $font-weight-normal;
							margin-bottom: 2rem;
							border-bottom: 1px solid $text-color;
							text-transform: uppercase;
						}

						.call-me {
							height: auto;
							padding: 0;

							&-form {
								padding: 2rem;

								input {
									&[type="text"] {
											width: 60%;
									}
								}

								.call-hour {
									margin-top: 1rem;
									margin-bottom: 1rem;
									font-size: $h5-font-size;
								}

								.field-data {
									ul {
										li {
											width: 40%;
											margin: .5rem 0 .5rem 1.5rem;
										}
									}
								}
							}
						}

						.g-num {
							text-align: center;
							display: inline-block;
							width: 100%;

							&-img {
								width: 60%;
								margin: 1rem auto .5rem;
							}

							&-text {
								font-size: 30px;
						    font-weight: 700;
						    display: block;
						    color: #000;
							}
						}
					}
				}
			// }
		}
	}
}
