@keyframes up {
    from {
			transform: translateY(20%);
		}
    to {
			transform: translateY(0);
		}
}

.flex{

	&--news{

		.filter{

			// display: flex;
			width: 100%;
			// flex-wrap: wrap;
			padding: 0 2px;
			position: relative;
			z-index: 1;
			display: inline-block;

			.mob-filter
			{
				background-color: $gray-100;
				text-align: center;
				display: block;
				width: 100%;
				cursor: pointer;
				padding: 8px 0;
	      		margin-bottom: 10px;

				@include bp(576px) {
					display: none;
				}

				span.down
				{
      				padding: 0 3px;
					&:after
					{
						content: '\e807';
						font-family: "icons";
						font-style: normal;
						font-weight: normal;
						speak: none;
     				margin-left: 5px;
					}

				}
				span.selected
				{
					color: $white;
					background: $blue;
					text-transform: uppercase;
     			padding: 3px 15px 3px 6px;
					font-weight: bold;
					font-size: 0.75rem;
					position: relative;

					&:after
					{
						content: '\00d7';
						border-radius: 50%;
						width: 16px;
						height: 16px;
						display: inline-flex;
						background: #aaa;
						color: $white;
						position: absolute;
						align-items: center;
						justify-content: center;
						font-weight: normal;
				     right: -8px;
				    top: 2px;
					}
				}
			}

			p{

				padding: ceil($grid-gutter-width / 4) 0;
				width: 100%;
				display: none;

				@include bp(576px) {

					display: inline-block;
					width: auto;
					margin-right: 16px;
					float: left;
				}
			}

			ul{
				background-color: $gray-100;;
				width: 100%;
				padding: 0;
				position: absolute;
    			z-index: 15;
				display: none;
				flex: 1;
				justify-content: flex-start;
				flex-wrap: wrap;
				position: absolute;
				width: 99%;
				top: 39px;

				@include bp(576px) {
     				position: static;
					width: 100%;
					padding-left: 78px;
					display: block;
					background-color: $white;
					// justify-content: space-between;
				}

				li{

					list-style: none;
					padding: 0;
					display: flex;
					margin-bottom: 6px;
					width: 100%;
					border-bottom: 2px solid $gray-400;

					&:before{
						content: none;
					}

					@include bp(576px) {
						border-bottom:none;
						float:left;
						width: auto;
						display: inline-block;
					}

					@include bp(768px) {
						margin-bottom: 0;
					}

					a {

						text-transform: uppercase;
						font-weight: bold;
						color: $black;
						text-align: center;
						padding: ceil($grid-gutter-width / 4) $grid-gutter-width;
						flex: 1;
						font-size: $font-size-small;
						outline: none;
						display: inline-block;

						&:hover {

							text-decoration: none;
						}

						&.current{

							color: $white;
							background: $blue;
							position: relative;

							&:after{

								content: '\00d7';
								border-radius: 50%;
								width: 16px;
								height: 16px;
								display: inline-flex;
								background: #aaa;
								color: $white;
								position: absolute;
								align-items: center;
								justify-content: center;
								font-weight: normal;

								right: 9px;
								top: 9px;

								@include bp(576px) {
									top: -8px;
									right: -8px;
								}
								border:1px solid $white;
							}
						}

						&.disabled{

							opacity: .3;
						}
					}

          &:last-child {
            border-bottom:0;
          }
				}
				&.mob-show
				{
					display: block;
					@include bp(576px) {
						display: block;
					}
				}

			}

		}
		&--content{

			display: flex;
			flex-wrap: wrap;
			position: relative;

			.item{

				flex-basis: 100%;
				position: relative;
				display: inline-block;
				padding: 1px;
				overflow: hidden;
				animation: up .3s ease-out;

				@include bp(768px) {

					flex-basis: 49.4%;

					&:after {
					  content: "";
					  display: block;
					  padding-bottom: 100%;
					}
				}

				@include bp(992px) {

					flex-basis: 32.9%;
				}

				.section{

					position: absolute;
					left: $spacer;
					top: $spacer;

					background: $blue;
					color: $white;
					font-size: $font-size-small;
					font-weight: bold;
					text-transform: uppercase;
					padding: ceil($grid-gutter-width / 4) ceil($grid-gutter-width / 2);
				}

				&--content{

					background-color: #f5f5f5;
					min-height: 350px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					padding: ceil($spacer*4) 0 0;

					@include bp(768px) {

						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}

					.dot-showcase-wrapper {
						display: block;
						opacity: 1;
						transition: opacity .1s ease-in;

						&-opened {
							display: none;
							opacity: 0;
							transition: opacity .3s ease-out;
						}
					}

					.flex-carousel-data{

						bottom: calc(-100% + 6.75rem);

						p {

								max-height: 108px;
								overflow: hidden;
								opacity: 1;
						}

						.cta {

							width: 70%;
							margin: 0 auto;

							a {

								flex: 1;

								@include bp(567px, 1200px){
									padding: 6px 30px;
								}
							}
						}
					}

					&:hover{

						.flex-carousel-data{
							bottom: 0;
						}
					}
				}

				&--featured{

					background-color: inherit;

					&, p{

						color: $white;
					}

					.flex-carousel-data{

						bottom: 0;
						background: none;

						h4 {

					    margin-top: 5rem;
						}

						.cta{

							opacity: 1;
						}
					}
				}

				&--post{
					.item--content {
						&:hover {
							.dot-showcase-wrapper{
								display: none;
								opacity: 0;

								&-opened {
									display: block;
									opacity: 1;
								}
							}
						}
					}

					.flex-carousel-data {
						background: rgba(255, 255, 255, 0.8);


						h4, p {
							color: $black;
						}

						h4{

							font-size: 14px;
							margin-bottom: $spacer;
						}

						p{
							font-size: 12px;
						}
					}
				}

				&--type-b{

					.section{
						color: $blue;
						background: none;
					}

					.flex-carousel-data{
						h4,
						p{
							color: $blue;
						}

						.cta{

							a.btn.inverted{

								color: $blue;
								border-color: $blue;
							}
						}
					}
				}

			}
		}
	}
}
