.flex-content-page {
	h1, h2, h3, h4, h5, h6 {
		width:100%;
		color: #fbc50e;
	}

	p{
		width: 100%;
	}

	ul{
		width:100%;

		li{
			width:100%;

			&:before{
				border-radius: 10px;
			}
		}
	}

}
