.flex {
	&-map {
		position: relative;

		&-container {
			width: 100%;

			div.more-details {
				strong {
					font-weight: bold;
					font-size: 0.8rem;
				}
			}
		}

		&-map {
			width: 100%;
			padding-bottom: 100%;
			display:none;

			&.visible-mobile{
				display: block!important;
			}

			@include bp($tb) {
				padding-bottom: 85%;
				display:block;
			}

			@include bp($dk) {
				padding-bottom: 50%;
			}
		}

		&-search {
			position: relative;

			.flex-map-search-content {

				padding: 15px;
				background: #f3f3f3;
				margin-bottom: 0;

				@include bp($tb) {
					position: absolute;
					z-index: 2;
					top: 30px;
					left: 30px;
					width: 320px;
					margin-bottom: 10px;
				}

				p{
					font-size: 1.25rem;
				}

				form {
					border-bottom: 1px solid #103073;
					margin-bottom: 1rem;
				}

				input,
				input::-webkit-input-placeholder {
					font-size: 0.8rem;
				}

				input {
					&[type="text"] {
						width: 92%;
						background: transparent;
						border: none;
						margin-bottom: 0.4rem;
					}
				}

				.my-location {
					color: $black;
				}

				button {
					border: 0;

					i {
						font-size: 1rem;
					}
				}
			}

			.flex-map-result-content {

				padding: 15px;
				background: #f3f3f3;
				margin-bottom: 10px;
				box-shadow: inset 0px 15px 10px -15px #c5c5c5;
		    display: block;
		    max-height: 350px;

				@include bp($tb) {
					position: absolute;
					z-index: 2;
					top: 200px;
					left: 30px;
					width: 320px;
				}

				p{
					font-size: .85rem;
				}

				ul {
					overflow-x: hidden;
					overflow-y: auto;
    			max-height: 240px;
					padding: 0;
  				list-style-type: none;

					@include bp(992px,1199px) {
						max-height: 149px;
					}

					li {
						display: flex;
						flex-flow: row;
						margin-bottom: 0.5rem;
						position: relative;

						a{
							display: block;
					    width: 100%;
					    height: 100%;
					    position: absolute;
						}

						.image_marker {
							margin-top: 0.2rem;
							margin-right: 0.8rem;
						}

						.content_marker {
							strong {
								font-weight: 800!important;
								font-size: 0.8rem!important;
							}

							p {
								font-size: 0.8rem!important;
								margin-top: 0!important;
    							margin-bottom: 0.1rem;

								&:first-child {
							    margin-bottom: 0.3rem;
								}

								&:last-child {
							    margin-bottom: 0.5rem;
								}
							}
							.more-details {
								@include bp($tb) {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
