.flex {
	&-our-services {
		padding-top: 4rem;
		padding-bottom: 4rem;

    .flex-head {
      h3 {
	      color: $yellow;
	    	font-weight: 700;
        display: inline-block;
			}
    }

		.row {
			.flex-our-services-content {
        margin-top: 15px;

				.service-item {
          margin-bottom: 30px;

          h4 {
  					cursor: pointer;
  					position: relative;
  					border-bottom: 1px solid $black;
			     padding-right: 1.5rem;

  					&::after {
  						position: absolute;
  						right: 0;
  						content: '\e807';
  						font-family: "icons";
  				    font-style: normal;
  				    font-weight: normal;
  				    speak: none;
  				    transition: all .3s ease;
  					}

  				}

          .content-service {
            display: none;
          }

  				&.opened {
  					h4 {
  						&::after {
  							transform: rotate(180deg);
  						}
  					}

            .content-service {
              display: block;
            }
  				}
        }
      }
		}
	}
}
