.post-type-archive-office {
	div{
		> main {
			> .o-section{
				margin-top: 0;
				margin-bottom: 50px;
			}
		}
	}
}

.flex {
	&-solutions{
		&-bg {
			background-color: #f7f7f7;

			.flex-solutions-content{
				padding:55px 44px;
				display:flex;
				flex-direction: column;  /* make main axis vertical */
		    justify-content: center; /* center items vertically, in this case */
		    align-items: center;

				@include bp($tb) {
					padding: 55px 100px;
				}

				&:first-child {
					border-bottom: 1px solid #103073;

					@include bp($tb) {
						border-right: 1px solid #103073;
						border-bottom: none;
					}
				}

				h3 {
					color: #103073;
					text-align: center;
					font-weight: $font-weight-bold;
				}

				.dot-wrapper {
					padding: 0 10px;
					text-align: center;

					@include bp($tb) {
						padding: 0 70px;
					}

					p {
						color: #103073;
					}
				}

				.btn {
					background: red;
					border: 0px;
					color: white;
				}
			}

			img {
				width: 100%;
				max-width:113px;
				height: auto;
				display: flex;
				-webkit-flex-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				margin-bottom: 26px;
			}

			.container {
				max-width: 100%;
				padding: 0;

				.align-items-center{
					padding: 37px 0;
				}

				@include bp($tb) {
					max-width: 100%;
					padding: 0;
				}

				@include bp($dk) {
					max-width: 960px;
				}

				@include bp($hd-dk) {
					max-width: 1140px;
				}
			}

			@include bp($hd-dk) {
				background-position: 10% center;
				max-height: auto;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
}
