.flex {
	&-fiscaldetraction {
		padding-bottom: 4rem;


		.row {
	   .fiscal-content {
       display: flex;
       flex-flow: column nowrap;
       width: 100%;

       @include bp($tb) {
         display: flex;
         flex-flow: row nowrap;
         width: 100%;
       }

       .fiscal-left {
         display: flex;
         flex-flow: column;
         justify-content: flex-start;
         align-items: stretch;
         background-color: #e1e4e9;
         width: 100%;
         position: relative;
         min-height: 400px;
				 height: 100%;

         @include bp($tb) {
           width: 50%;
         }

         .detraction-item {
					 padding: 2rem 1rem;

					 @include bp($tb) {
						 padding: 2.95rem;
					 }

           .c-item {
             margin-bottom: 1.25rem;

             h5 {
               padding-right: 1rem;
              display: flex;
              flex-flow: row;
              align-items: center;
     					cursor: pointer;
     					position: relative;
     					color: $blue;

     					&::after {
     						position: absolute;
     						right: 0;
     						content: '\e803';
     						font-family: "icons";
     				    font-style: normal;
     				    font-weight: normal;
     				    speak: none;
     				    transition: all .3s ease;
     					}
            }

            .fiscal-conv {
              display: none;
            }

            &.opened {
    					h5 {
    						&::after {
    							transform: rotate(90deg);
    						}
    					}

              .fiscal-conv {
                display: block;

                .descr {
                  margin-bottom: 1.25rem;
                }

                a {
                  background: $blue;
                  color: $white;
                  padding: 6px 50px;

                  &:hover{
                    text-transform: none;
                  }

                }
              }
    				}
           }
         }

         .fiscal-banner {
           position: absolute;
           display: flex;
           flex-flow: row;
           justify-content: center;
           align-items: center;
           background: $blue;
           bottom: 0;
           left:0;
           right:0;
           height: 4.5rem;

           h4 {
             color: $white;
             width: 8.25rem;
             margin:0;
             font-weight: 800;
             font-size: 1rem;

             &:first-child {
              text-align: right;
              margin-right: 110px;

              @include bp($dk) {
                margin-right: 130px;
              }
             }
           }

           h1 {
             position: absolute;
             color: #103073;
             font-weight: 800;
             font-size: 2rem;
             left: 50%;
             top: 42%;
             transform: translate(-50%, -50%);
           }

           img {
            position: absolute;
            width: 80px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
           }

           @include bp($dk) {
             h4 {
               width: 8.25rem;
               margin:0;
               font-size: $h4-font-size;
             }

             h1 {
               font-size: $h1-font-size;
             }

             img {
              width: 100px;
             }
           }
         }
       }
       .fiscal-right {
				 background-position: center;
				 background-size: cover;
				 background-repeat: no-repeat;
         width: 100%;
				 min-height: 400px;
				 height: 100%;

         @include bp($tb) {
           width: 50%;
           margin-top: 0;
         }
       }
     }
   }
 }
}
