.flex {
	$self: &;

	&-applications {
		margin-bottom: 1rem;
		padding-left: 2rem;

		#{$self}-head {
			padding-bottom: .5rem;
			border-bottom: 1px solid $gray-footer;

			h3 {
				text-align: left;

			}
		}

		&-content {
			padding: 0;
			margin: 2rem 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 2rem;
				font-size: 1rem;
				font-weight: $font-weight-light;
				margin-top: .5rem;
				margin-bottom: .5rem;

				i {
					font-weight: $font-weight-light;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.o-section {
	.flex {
		&.flex-applications {
			ul {
				padding-left: 0
			}

			.flex-applications-content {

				li {
					&::before {
						content: '\e808';
						font-family: "icons";
						color: $blue;
						width: 20px;
						background-color: transparent;
						display: flex;
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
					}
				}
			}
		}
	}
}
