.flex
{
	&-information-tab
	{
		margin-top: 10px;
		ul.nav-pills
		{
      padding: 0;
			margin-bottom: 20px;
			list-style: none;

			li
			{

				margin-right: 20px;
	      white-space: nowrap;
				display: inline;
				text-transform: uppercase;
				font-size: 16px;

				@include bp($tb) {
					margin-right: 60px;
				}

				a
				{
					text-decoration: none;
					color: $black;
					border-bottom: 2px solid $white;
					transition: $btn-transition;

					&:hover
					{
						border-bottom-color: $gray-400;
					}
					&.active
					{
						border-bottom-color: $yellow;
						font-weight: bold;
					}
				}

			}
		}
		.tab-content
		{
			.tab-pane
			{
					font-size: 14px;
					font-weight: 500;
					line-height: 1.2;
					display: none;
					ul
					{
						list-style-type: none;
				    padding-left: 0;
						li
						{
							&::before
							{
								content: "- ";
								color: $black;
							}
						}
					}
			}
		}
	}
}
