.flex {
	&-content-footer {
		padding: 0;

		&-item {
			padding: 2.5rem 2rem;

			h3 {
				text-transform: none;
				margin-bottom: 2rem;
			}

		}

		&-int {
			background-color: $gray-th;
		}

		&-set,
		&-int {
			li {
				a {
					text-transform: none;
					width: 100%;
					display: inline-block;

					&:focus,
					&:hover {
					  text-decoration: none;
					}
				}
			}
		}

		&-set{
			li {
				&:last-child {
					margin-top: 1rem;
				}
			}
		}

		&-cal {
			background-color: $white;
			color: #212529;
			text-align: center;
	    padding: 2.5rem 1rem;

			h3 {
				margin-bottom: .15rem;
			}


			em {
				font-size: 46px;
				font-style: normal;
				line-height: 42px;
				font-weight: $font-weight-bold;
			}

			p {
				margin: .8rem auto;
				font-weight: $font-weight-light;
				font-size: $font-size-small;

				&.thin {
					font-weight: 100;
				}
			}

			.btn {
				background-color: $red;
				border: 0;
				font-size: $font-size-small;
				letter-spacing: 2px;
				font-weight: regular;

				&:focus,
				&:hover {
				  color: $blue;
				}
			}

			input {
				background-color: rgba($white, .2);
				color: $white;
				border: 0;
		    width: 100%;
		    margin: .8rem auto 1.2rem;
				padding: 5px 10px;

				&:focus {
				  outline: 0;
				}

				&::placeholder {
					font-style: italic;
					color: rgba($white, .5);
					font-weight: $font-weight-light;

				}
				&[type='radio'] {
					width: 10px;
					display: none;
				}
			}

		}

	}
}
