.flex {
  &-how-to-work {
    .row {
      background-color: #e1e4e9;
      padding: 2rem 1rem;

			@include bp($dk) {
				padding: 2.95rem;
			}

      .flex-how-to-work-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;

        @include bp($dk) {
          display: flex;
          flex-flow: row;
          justify-content: center;
        }

        .content-left {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          display: inline-block;

          width: 100%;

          @include bp($dk) {
            width: 50%;
            padding: 0 2.95rem 0 0;
          }

          h3 {
            color: $blue;
          }
        }
        .content-right {
          width: 100%;
          height: 100%;

          @include bp($dk) {
            width: 50%;
          }
        }
      }
    }
  }
}
