.flex-counter {
	margin-bottom: 20px;

	h2{
		text-align: center;
		margin-bottom: 50px;
	}

	.flex-counter-container {
		.row{
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			align-items: stretch;

			@include bp($tb) {
				flex-flow: row nowrap;
			}

			.item {
				height: 100%;
				margin-bottom: 70px;

				&-bg {
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					width: 175px;
					height: 175px;
					margin-bottom: 10px;

					h2 {
				    font-weight: 900;
				    margin: 0;
					}

					.item-value,
					.item-label,
					.item-um {
						text-align: center;
					}
				}

				.item-label {
					text-align: center;
				}

				@include bp($tb) {
					margin-bottom: 0;
				}
			}
		}

	}
}
