.o-section {
	.flex-quote {
		margin-bottom: -8px;

		@include bp($dk) {
			margin-bottom: -50px;

		}

		ul {
			li {
				&::before {
					display: none;
				}
			}
		}
	}
}

.flex-quote {
	position: relative;

	button {
		&:focus {
			outline: 0;
		}
	}

	h4,
	h6,
	p {
		color: #103073;
	}

	.btn {
		border-color: $red;
		background-color: $red;
		color: $white;
		border-radius: 15px;
		text-align: left;
		max-width: 100%;
		padding: 8px 15px;
		font-weight: 500;
		margin: 0;
		cursor: pointer;

		&.btn-recall {
			border-radius: 0 15px 15px 0;
      font-size: 18px;
    	padding: 3px 6px;
		}
		.icon-right-dir
		{
      width: 16px;
	    display: inline-block;
		}
	}
	.form-recall-mini
	{
    display: flex;
	justify-content: center;
	margin-bottom: 3px;

		input
		{
			&.phone-number
			{
     			width: 180px;
				border-radius: 15px 0 0 15px;
				background-color: $gray-450;
				color: $blue;
				font-style: italic;
				border: 0;
				padding: 10px 15px;
				outline: none;

				&::placeholder {
					color: $blue;
				}
			}
		}

		.feed
		{
			display: none;
			width: 265px;
			border-radius: 15px;
			background-color: $gray-450;
			color: $blue;
			padding: 10px 15px;
      position: absolute;
		}
	}

	&-container
	{
		width: 100%;

		.quote-img-header {
			width: 100%;
	    height: 0;
	    overflow: visible;
			position: relative;
			margin-bottom: 420px;
			padding-bottom: 120%;
			background-size: cover !important;

			@include bp(570px, $tb) {
				padding-bottom: 60%;
			}

			@include bp($tb) {
				margin-bottom: 300px;
				padding-bottom: 51%;
			}

			@include bp(870px) {
				// overflow: hidden;
				margin-bottom: 0;
			}

			@include bp($hd-dk) {
				padding-bottom: 48%;
			}

			@include bp(1930px) {
				padding-bottom: 920px;
				background-size: contain !important;
			}



			.quote-data {
				display: flex;
				flex-direction: row-reverse;
		    width: 100%;
				position:absolute;
				top:0;
				bottom:0;
				right:0;
				align-items: center;


				&-bg{
					background: #edeff4;
					width: 100%;
					margin-right: 80px;
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					justify-content: flex-start;
					position: absolute;
					top: 100%;
					left: 0;

					h4 {
						font-weight: $font-weight-bold;
					}

					@include bp($tb) {
						justify-content: space-around;
						flex-flow: row nowrap;

					}

					@include bp(870px) {
						justify-content: flex-start;
						width: 35%;
						max-width: 480px;
						flex-flow: column nowrap;
						top: 70.05px;
						bottom: 0;
						left: auto;
						right: -.7rem;
					}

					@include bp(1930px) {
						margin-right: calc((50% - 240px) - 600px);
					}

					p {
      			font-size: 13px;
						margin-bottom: .5rem;

						@include bp(870px) {
							margin-bottom: 1rem;
						}

						@include bp($hd-dk) {
							margin-bottom: 1rem;

						}

						&.primatel {
							margin-top: 1rem;
							margin-bottom: 0;
					    font-size: 16px;
					    font-weight: 500;
						}
						&.smalltext
						{
	      			font-size: 13px !important;
						}
					}

					@include bp($dk) {
						top: 144px;
					}

					@include bp(1450px) {
						justify-content: center;
					}
				}

				.content-quote {
					width: 100%;
				  text-align: center;
					padding: 0 15px;
			    margin-top: 15px;

					h4 {
						font-size: 1.5rem;
						font-weight: $font-weight-bold;

						@include bp($tb) {
							font-size: 1.3rem;

						}

						@include bp($hd-dk) {
							font-size: 1.8rem;

						}
					}

					p {
						@include bp($hd-dk) {
							font-size: 1.5rem;
						}
					}
					// @include bp($tb) {
			    // 	margin-top: 0px;
					// }

					// @include bp($tb) {
					// 	margin-top: 16px;
					// }
					//
					// @include bp($hd-dk) {
					// 	margin-top: 40px;
					// }
					.content-call
					{
						margin-bottom: 0px;
					}
				}

				.content-call {
					width: 100%;
				  text-align: center;
			    margin-bottom: 40px;
			    margin-top: 5px;

					hr {
						margin-top: 1rem;
						margin-bottom: 0.5rem;
						width: 100%;

						@include bp($tb) {
							width: 80%;
							margin-top: 0.5rem;
						}
					}

					img {
						width: 48%;
					}

					p {
					 &:first-child {
						 margin-bottom: 0;

						 @include bp($hd-dk) {
							 margin-bottom: 1rem;

						 }
					 }
					}
				}
			}

			.strip_form {
				input {
					[name="telefono"] {
						width: 100%;
					}
				}
			}

			.contact-data{
				background-color: #edeff4;
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				z-index: 1;
				display: none;
				padding-bottom: 2rem;

				@include bp(870px) {
					left: auto;
					right: -4.3rem;
					width: 100vw;
				}

				@include bp(1930px) {
					right: -117px;
					width: 1936px;
				}


				.btn-col {
					text-align: center;

					button {
						border-radius: 0;
						width: 100%;
						text-align: center;
					}
				}

				.privacy {
					margin-bottom: 1rem;
					text-align: center;

					a {
						text-decoration: underline;
					}

					@include bp(870px) {
						padding-top: 1rem;
						text-align: right;
						margin-bottom: 0;
					}
				}

				.field-data{
					display: block;
				  position: relative;
				  margin: 5px auto;
				  height: auto;

					ul{
						display: flex;
						flex-flow: row wrap;
						justify-content: space-between;
						align-items: center;
					  list-style: none;
					  margin: 0;
					  padding: 0;
						overflow: auto;

						li{
							display: inline-flex;
					    flex-direction: row;
					    justify-content: space-between;
					    align-items: center;
					    position: relative;

							input[type=radio]{
							  position: absolute;
							  visibility: hidden;

								&:checked ~ .check {
								  border: 1px solid #1b1b1b;
								}

								&:checked ~ .check:before{
								  background: #1b1b1b;
								}

								:checked ~ label{
								  color: #1b1b1b;
								}

								:before{
									background: transparent!important;
								}

							}

							label{
								display: block;
								position: relative;
								padding: 4px 5px 1px 20px;
								margin: 0;
								z-index: 9;
								cursor: pointer;
								-webkit-transition: all 0.25s linear;
							}
							.check{
							  display: block;
							  position: absolute;
							  border: 1px solid #1b1b1b;
							  border-radius: 100%;
								height: 18px;
						    width: 18px;
						    z-index: 5;
								transition: border .25s linear;
								-webkit-transition: border .25s linear;

								&:before {
									display: block;
							    position: absolute;
							    content: '';
							    border-radius: 100%;
							    height: 8px;
							    width: 8px;
							    top: 4px;
							    left: 4px;
							    margin: auto;
									transition: background 0.25s linear;
									-webkit-transition: background 0.25s linear;
								}
							}

							&:hover label{
								color: #1b1b1b;
							}
						}
					}

					label{
						margin: .2rem 0;
					}
				}
				#strip_form2 {
					margin-top: 2rem;
					display: none;
				}

				#quote_call_form {
					.row{
						padding:20px 0 0!important;



						.label{
							padding: 10px 0;
							text-align: center;


							@include bp($tb) {
								text-align: left;
							}
						}

						input[name='telefono'] {
							background-color: #c4cad6;
							border: none;
							padding: 10px 10px;
							font-size: (11 / 16) * 1rem;
							width:100%;

							@include bp($tb) {
								width:300px;
							}
						}
					}

					.spinner {
						width: 100%;
						height: 3rem;
						background-image: url(../images/loading_spinner.gif);
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;

						&.hidden {
							display: none;
						}
					}

					.message {
						width: 100%;
						margin: 1rem auto;
						border: 2px solid $green;
						display: block;
						padding: 10px;
						text-align: center;
						font-weight: $font-weight-bold;

						&.hidden {
							display: none;
						}
						&.red {
							border-color: $red;
						}
					}
				}
			}


		}
	}

	.call-me-form {
		display: none;

		input {
			&[type="text"] {
				margin-top: 2rem;
			}
		}

		.call-hour {
			margin-top: 2rem !important;
		}

		.privacy {
			text-align: left !important;
		}

		.send {
			display: flex;
			align-items: center;
			justify-content: center;

			.btn {
				max-height: 40px;
			}
		}

	}
}
