.flex-mainoffices{
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;

  .row{
    align-items: flex-start;

		.flex-mainoffices-content{
			height: 100%;
			margin-bottom: 50px;
			text-align: center;


			@include bp($tb) {
				margin-bottom: 20px;
				text-align: left;
			}

			.content{
		    margin-left: 0;

				@include bp($tb) {
					margin-left: 20px;
				}
			}

			&:last-child {
				margin-bottom:0;
			}
    }
  }
}
