.flex {
	$self: &;
	&-when-to-choose {
		background-color: #e1e4e9;
		z-index: 0;

		#{$self}-head{
			h2 {
				color: $blue;
				text-align: left;
				width: 100%;
				padding: 2rem 0 2rem 2rem;
				position: relative;
				z-index: 1;

				&::before {
					content: '';
			    display: block;
			    position: absolute;
			    background-color: #fed443;
			    height: 3rem;
			    width: 3rem;
					top: 1.75rem;
	    		left: 1.1rem;
			    border-radius: 100%;
			    z-index: -1;
				}

			}
		}

		&-data {
			text-align: center;
			padding: 0 3rem;
			width: 100%;
			@include bp($tb) {
				padding: 0 1.5rem;
			}
		}

		&-slider {
			display: block;

			.img {
				width: 150px;
				height: 150px;
				border-radius: 100%;
				margin-bottom: 1rem;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.item {
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 1.25rem;
			}

			&.slick {
				&-initialized {
					.slick {
						&-list {
							min-width: 320px;
							width: 100% !important;
						}

						&-prev,
						&-next {
							&::before {
								color: $blue;
							}
						}
					}
				}
			}

		}

		@include bp($tb) {
			&-slider {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: flex-start;

				&-1 {
					& > div {
						max-width: 100%;
						flex: 0 0 100%;
					}
				}

				&-2 {
					& > div {
						max-width: 50%;
						flex: 0 0 50%;
					}
				}

				&-3,
				&-5,
				&-6 {
					& > div {
						max-width: 33.333333%;
						flex: 0 0 33.333333%;
					}
				}

				&-4,
				&-7,
				&-8 {
					& > div {
						max-width: 25%;
						flex: 0 0 25%;
					}
				}
			}
		}
	}
}
