.flex {
	&-integration {
		background-color: $gray-th;
		padding-top: 4rem;
		padding-bottom: 4rem;

    .container{

      .flex-head {
        text-align:center
      }

  		.row {
		    padding-top: 30px;

  			img {
  				margin-left: auto;
  				margin-right: auto;
  				width: 100%;
  				height: auto;
  			}
  		}
    }
	}
}
