.flx-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.configurator {
	&--container {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 2rem 0;

		h2 {
			text-align: center!important;
		}

		p {
			text-align: center!important;
		}
	}

	&--question-group-labels {
		@extend .flx-center;
		flex: 1;
		flex-flow: row wrap;
		margin-top: ceil($grid-gutter-height / 2);

		label {
			background: $lightgray;
			padding: ceil($grid-gutter-width/2) $grid-gutter-width;
			margin-left: 0;
			margin-bottom: 10px;

			@include bp($tb) {
				margin-left: 10px;

			}

			&:first-child {
				margin-left: 0;
			}

			&.on {
				background: $yellow;
				font-weight: bold;
			}

			&.off {
				background: $lightgray;
				user-select: none;
				pointer-events: none;
				font-weight: bold;
				color: $blue;
				opacity: 0.5;
			}
		}

	}

	.time-track {
		width: 100%;
		position: relative;
		margin: 3rem auto 0;

		@include bp($tb) {
			width: 80%;
			margin-top: 1rem;
		}


		&-p {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			padding-top: .5rem;

			p {
				color: $gray-footer;
				display: inline-block;
				font-size: $font-size-small;
				font-style: italic;
			}
		}

		&-bar {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;

			&-bg {
				background-color: $gray-th;
				margin: 0 1px;
				height: 1.6rem;
				width: 100%;

				&:first-child{
					border-top-left-radius: 1rem;
					border-bottom-left-radius: 1rem;
				}

				&:nth-last-child(2){
					border-top-right-radius: 1rem;
					border-bottom-right-radius: 1rem;
				}

				&.passed {
					background-color: $blue;
				}
			}
		}

		.pie {
			position: absolute;
			left: 2px;
			top: 2px;
			width: calc(5rem - 2px);
			height: calc(1.6rem - 4px);
			background-color: $blue;
			border-radius: 1rem;

			@for $i from 0 through 100 {
				&[data-progress="#{$i}"] {
					width: calc(#{$i * 1%} - 2px);
				}
			}
		}
	}

	&--question-group,
	&--question-groups,
	&--questions {
		@extend .flx-center;
		flex: 1;
	}

	&--question-groups {
		margin-top: $grid-gutter-height;
	}

	&--question-group {
		display: none;

		&.on {
			display: flex;
		}
	}

	&--questions {
		@extend .flx-center;
		flex: 1;

		.question {
			@extend .flx-center;
			flex-direction: column;
			flex: 1;
			display: none;

			&.on {
				display: flex;
			}

			h3 {
				position: relative;
				padding-bottom: ceil($grid-gutter-height / 2);

				&:after {
					content: '';
					border-bottom: 1px solid $yellow;
					height: 1px;
					width: 90%;
					position: absolute;
					bottom: 0;
					left: 5%;
					right: 5%;
				}
			}

			.answers {
				@extend .flx-center;
				margin-top: $grid-gutter-height;
				flex-flow: row wrap;;

				.answer {
					margin: 0 ceil($grid-gutter-width/2) 1rem;

					&,
					label {
						@extend .flx-center;
						flex-direction: column;
						flex: 1;
					}

					label {
						cursor: pointer;
					}

					span {
						height: 3em;
						position: relative;
						padding-left: ceil($grid-gutter-width / 1.5);

						input {
							position: absolute;
							left: 0;
							top: 3px;
						}
					}

					img {
						width: 100%;
						max-width: 100px;
						flex-basis: 2;
						margin-bottom: ceil($grid-gutter-height / 2);
					}
				}
			}

			&--cap {
				.answers {
					.answer {
						label {
							flex-direction: row;
							font-size: 1rem;
							font-weight: $font-weight-lightest;
							font-style: italic;

							input[name='answer_3'] {
								background-color: $gray-th;
								border: 0;
								height: 2.5rem;
								padding-left: 0.5rem;
								font-weight: $font-weight-normal;
								font-style: normal;
								margin-left: 2rem;
							}
						}
					}
				}
			}

			&--single {
				.answers {
					width: 100%;

					.answer {
						.single-labels {
							width: 50vw;
							display: flex;
							justify-content: space-between;
							align-items: center;
						}

						label {
							flex-direction: row;
							align-items: center;
							font-size: 1rem;
							font-weight: $font-weight-lightest;
							font-style: normal;

							input[name='answer_1'],
							input[name='answer_2'] {
								margin-right: 1rem;
								height: 1rem;
							}
						}
					}
				}
			}
		}
	}

	&--esit {
		@extend .flx-center;
		flex-direction: column;
		flex: 1;
		display: none;
		margin-top: $grid-gutter-height;

		&.on {
			display: flex;
		}

		img {
			width: 100%;
		}
	}

	&--contact-form {
		@extend .flx-center;
		background-color: $gray-th;
		padding: 3rem 15px 0;
		flex-direction: column;
		flex: 1;
		margin-top: $grid-gutter-height;
		width: 100%;

		@include bp($tb) {
			padding-left: 0;
			padding-right: 0;
		}

	}

	.contact-data {
		margin-top: 2rem;
		padding-bottom: 2rem;

		.spinner {
			width: 100%;
			height: 3rem;
			background-image: url(../images/loading_spinner.gif);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			&.hidden {
				display: none;
			}
		}

		.message {
			width: 100%;
			margin: 1rem auto;
			border: 2px solid $green;
			display: block;
			padding: 10px;
			text-align: center;
			font-weight: $font-weight-bold;

			&.hidden {
				display: none;
			}
			&.red {
				border-color: $red;
			}
		}

		.container > p {
			text-align: center;
		}

		button {
			background-color: $red;
			border: 0;
			color: $white;
			text-align: center;
		}

		.phone,
		.time,
		.send {
			margin-top: 2rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
		}

		.send {
			.privacy {
				margin-right: 20px;
				margin-left: 20px;
			}

		}

		.time {
			.label {
				width: 100%;
				text-align: center;
			}
		}

		.phone {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;

			.label {
				font-size: 1rem;
				font-weight: $font-weight-lightest;
				font-style: italic;
			}

			input {
				&[name='telefono'] {
					background-color: $white;
					height: 2.5rem;
					border: 0;
					padding-left: 1rem;
					font-size: (11 / 16) * 1rem;
					width: 100%;
					@include bp($tb) {
						width: 50%;
						margin-left: 2rem;

					}
				}

			}
		}

		.privacy {
			margin-bottom: 1rem;
			text-align: center;

			a {
				text-decoration: underline;
			}
			@include bp(870px) {
				padding-top: 1rem;
				text-align: right;
				margin-bottom: 0;
			}
		}

		.field-data {
			display: block;
			position: relative;
			margin-top: 2rem;
			width: 100%;
			height: auto;

			ul {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					position: relative;

					input[type=radio] {
						position: absolute;
						visibility: hidden;

						&:checked ~ .check {
							border: 1px solid #1b1b1b;
						}

						&:checked ~ .check:before {
							background: #1b1b1b;
						}

						:checked ~ label {
							color: #1b1b1b;
						}

						:before {
							background: transparent!important;
						}
					}

					label {
						display: block;
						position: relative;
						padding: 4px 5px 1px 20px;
						margin: 0;
						z-index: 9;
						cursor: pointer;
						-webkit-transition: all 0.25s linear;
					}

					.check {
						display: block;
						position: absolute;
						border: 1px solid #1b1b1b;
						border-radius: 100%;
						height: 18px;
						width: 18px;
						z-index: 5;
						transition: border 0.25s linear;
						-webkit-transition: border 0.25s linear;

						&:before {
							display: block;
							position: absolute;
							content: '';
							border-radius: 100%;
							height: 8px;
							width: 8px;
							top: 4px;
							left: 4px;
							margin: auto;
							transition: background 0.25s linear;
							-webkit-transition: background 0.25s linear;
						}
					}

					&:hover label {
						color: #1b1b1b;
					}
				}
			}

			label {
				margin: 0.2rem 0;
			}

			input {}
		}

		.label {
			padding: 10px 0;
			text-align: center;
			@include bp($tb) {
				text-align: left;
			}
		}

	}

	&--results {
		background-color: $white;
		padding: 2rem 15px;
		margin-left: -1rem;
		margin-right: -1rem;

		@include bp($tb) {
			width: 100%;
		}

		& > h4,
		& > p  {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		& > h4 {
			font-weight: $font-weight-normal;
		}

		&-container {
			margin-top: 2rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
		}

		$check-size: 3rem;

		&-label {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;

			&-title {
				width: calc(50% - (#{$check-size} / 2));

				p {
					text-align: right !important;
				}
			}
		}


		&-icon {
			width: $check-size;
			color: $green;
			display: flex;

			&::before {
				margin: 0 auto 1rem;
				font-size: 1rem;
			}
		}

		&-value {
			width: calc(50% - (#{$check-size} / 2));
			font-weight: $font-weight-bold;

			p {
				text-align: left !important;
			}
		}
	}
}
