.call-me {
	color: $black;
	background-color: $gray-th;
	padding: 2rem 10px;
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	text-align: center;

	h2 {
		border-bottom: 1px solid $black;
		padding-bottom: 10px;
		margin-bottom: 10px;
		font-size: 36px;
	}

	&-form {
		input[type="text"] {
			background-color: #ced4da;
			color: #000;
			border: none;
			margin: 0 0px 20px;
			padding: 10px 20px;
			margin-bottom: .5rem;
		}

		.call-hour {
			font-style: italic;
			display: block;
			text-align: center;
			width: 100%;
			font-size: $font-size-small;
			margin-top: 0;
		}

		.btn {
			border-color: $red;
			background-color: $red;
			color: $white;
			border-radius: 0;
			text-align: left;
			max-width: 100%;
			padding: 6px 65px;
			margin: 0;
		}

		.recapctha {
			padding: 0;

			@include bp(540px) {
				padding: unset;
			}
	    	width: 100%;
	    	height: 95px;
			margin-top: 1rem;
			margin-bottom: .5rem;

			.g-recaptcha {

				transform: scale(0.7);
				@include bp(540px) {
					transform: scale(0.9);
				}
					transform-origin: top left;
			}
		}

		.privacy
	  {
	    line-height: 1.2;
	    margin-top: 0;
	    margin-bottom: .5rem;
			font-size: $font-size-small;
			text-align: left;

	    p {
	        margin-top: -1rem;
	        margin-bottom: 0.5rem;
	    }

	    .form-check{
	      margin-bottom: .5rem;
				padding-left: 1rem;

				.form-check-input {
	        margin-top: 2px;
					margin-left: -1rem;
	     		width: auto;
				}
	    }

	    a {
	      text-decoration: none;
				font-weight: $font-weight-bold;
	      color: $black;
	      &:hover
	      {
	        text-decoration: underline;
	      }
	    }

	    @include bp(576px,992px) {
	      font-size: 12px;
	    }
	  }

		.btn-col {
			text-align: center;

			button {
				border-radius: 0;
				width: 100%;
				text-align: center;
			}
		}

		.field-data {
			display: block;
			position: relative;
			margin: 5px auto;
			height: auto;

			ul {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;
				list-style: none;
				margin: 0;
				padding: 0;


				li {
					display: inline-flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					position: relative;
					margin-right: .5rem;

					input[type=radio] {
						position: absolute;
						visibility: hidden;

						&:checked ~ .check {
							border: 1px solid #1b1b1b;
						}

						&:checked ~ .check:before {
							background: #1b1b1b;
						}

						:checked ~ label {
							color: #1b1b1b;
						}

						:before {
							background: transparent!important;
						}
					}

					label {
						display: block;
						position: relative;
						padding: 4px 5px 1px 20px;
						margin: 0;
						z-index: 9;
						cursor: pointer;
						-webkit-transition: all 0.25s linear;
					}

					.check {
						display: block;
						position: absolute;
						border: 1px solid #1b1b1b;
						border-radius: 100%;
						height: 18px;
						width: 18px;
						z-index: 5;
						transition: border 0.25s linear;
						-webkit-transition: border 0.25s linear;
						top: 6px;
						left: 0px;

						&:before {
							display: block;
							position: absolute;
							content: '';
							border-radius: 100%;
							height: 8px;
							width: 8px;
							top: 4px;
							left: 4px;
							margin: auto;
							transition: background 0.25s linear;
							-webkit-transition: background 0.25s linear;
						}
					}

					&:hover label {
						color: #1b1b1b;
					}
				}
			}

			label {
				margin: 0.2rem 0;
			}
		}

		.row {
			padding: 20px 0 0!important !important;

			.label {
				padding: 10px 0;
				text-align: center;
				@include bp($tb) {
					text-align: left;
				}
			}

			input[name='telefono'] {
				background-color: #c4cad6;
				border: none;
				padding: 10px;
				font-size: (11 / 16) * 1rem;
				width: 100%;
				@include bp($tb) {
					width: 300px;
				}
			}
		}

		.spinner {
			width: 100%;
			height: 3rem;
			background-image: url("../images/loading_spinner.gif");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			&.hidden {
				display: none;
			}
		}

		.message {
			width: 100%;
			margin: 1rem auto;
			border: 2px solid $green;
			display: block;
			padding: 10px;
			text-align: center;
			font-weight: $font-weight-bold;

			&.hidden {
				display: none;
			}

			&.red {
				border-color: $red;
			}
		}


	}

	&.call-me-support {
		background-color: transparent;
		padding-top: 0;
		height: auto;

		h5 {
			font-style: italic;
			font-weight: $font-weight-normal;
		}

		.call-me-form {
			input[type=text] {
				width: 100%;

				@include bp($dk) {
					width: 300px;
				}
			}

			.call-hour {
				text-align: left;
				font-size: 1rem;
				margin-top: .5rem;
			}

			.hidden-fields {
				display: none;
			}

			.field-data {
				ul {
					justify-content: flex-start;
					overflow: unset !important;
					padding: .2rem 0;

					@include bp($dk) {
						justify-content: space-between;

					}

					li {
						border: 0;
					}
				}
			}

			&.config-form 
			{
				.label ,
				.call-hour
				{
					text-align: center;
					font-style: italic;
					font-size: 0.75rem;
					@include bp($tb) {
						text-align: left;
					}
				}
				.field-data
				{
					margin-top: 0;
				}
				.privacy 
				{
					p {
						text-align: left !important;
						margin-top: 0;
					}
					.form-check 
					{
						text-align: left;
					}
				}
				.recapctha 
				{
					.g-recaptcha
					{
						display: inline-block;
					}
				}
	
	
			}
		}
	}



}
