.strip_form {
	width: 900px;
	max-width: 100%;
	margin: auto;

	@include bp($dk) {}

	.back_strip {
		float: right;
		margin: 10px 0;
		display: inline;
		width: 100%;
		text-align: right;
		color: $black;
		@include bp($tb) {
			width: auto;
		}
	}

	h2 {
		font-weight: 400;
	}

	input[type=radio] {}

	.radio_options,
	.radio-priv {
		font-size: 16px;
		margin-bottom: 10px;

		label {
			font-size: 16px;
			text-transform: uppercase;
			// color: $blue;
			// font-weight: $Medium;
			margin-bottom: 0;
			cursor: pointer;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;

				&:checked ~ .checkmark::after {
					display: block;
					// background: @yellow;
				}
			}

			.checkmark {
				// position: absolute;
				// top: 0;
				// left: 0;
				position: relative;
				display: inline-block;
				margin: 3px 6px;
				float: left;
				height: 16px;
				border: 2px solid $black;
				width: 16px;
				// background-color: $blue;
				border-radius: 50%;
				// .transition(opacity .3s ease);
				transition: $btn-transition;
				padding: 0;

				&::after {
					display: none;
					content: "";
					position: absolute;
					top: 3px;
					left: 3px;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: $black;
				}
			}

			em {
				display: block;
				margin-left: 20px;
				// color: $gray-middle;
				font-size: 11px;
				// .FontFiraSans();
				font-style: normal;
			}

			&:hover {
				.checkmark {
					// opacity: 0.7;
					background-color: $gray-200;
				}
			}
		}
	}


	input[type=email],
	input[type=number],
	input[type=text],
	textarea {
		background-color: $gray-400;
		color: $black;
		width: 100%;
		border: none;
		margin: 0 0 20px;
		padding: 10px 20px;

		&::placeholder {
			font-style: italic;
		}
	}

	textarea {}

	.campobbl {
		text-align: right;
		width: 100%;
		display: inline-block;
		position: relative;
		top: 0;
		@include bp($tb) {
			top: -20px;
		}
	}

	.recapctha {
		padding: 0;

		@include bp(540px) {
			padding: unset;
		}
		width: 100%;
		height: 105px;
		// border: 1px solid #ddd;
		.g-recaptcha {

			transform: scale(0.7);
			@include bp(540px) {
				transform: scale(0.9);
			}
			transform-origin: top left;
		}
	}

	.final-row {
		margin-top: 10px;
	}

	button {
		width: 100%;
		border: none;
		background-color: $red;
		text-transform: uppercase;
		color: $white;
		line-height: 2.4;
		font-size: 16px;
		cursor: pointer;
		margin-top: 10px;
	}

	.privacy {
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-size: $font-size-small;
		text-align: left;

		p {
			margin-top: -1rem;
			margin-bottom: 0.5rem;
		}

		.form-check {
			margin-bottom: 0.5rem;
			padding-left: 1rem;

			.form-check-input {
				margin-top: 2px;
				margin-left: -1rem;
     		width: auto;
			}
		}

		a {
			text-decoration: none;
			font-weight: $font-weight-bold;
			color: $black;

			&:hover {
				text-decoration: underline;
			}
		}
		@include bp(576px,992px) {
			font-size: 12px;
		}
	}

	.spinner {
		width: 100%;
		height: 3rem;
		background-image: url("../images/loading_spinner.gif");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		&.hidden {
			display: none;
		}
	}

	.message {
		width: 100%;
		margin: 1rem auto;
		border: 2px solid $green;
		display: block;
		padding: 10px;
		text-align: center;
		font-weight: $font-weight-bold;

		&.hidden {
			display: none;
		}

		&.red {
			border-color: $red;
		}
	}

	&.strip_form-support {
		width: 100%;
	}

	&-priv {
		@extend .strip_form;

		h2 {
			color: $blue;
			font-weight: $font-weight-bold;
			font-size: 2.5rem;
	    padding: 2rem 0;
		}

		.pricacy {
			font-weight: $font-weight-light;
		}
		.radio-priv {
			margin-top: 10px;
		}
	}
}
