.header {
	&-menu {
		&-mobile {
			display: block;
			background-color: $blue;
			width: 100%;
			position: absolute;
			top: 0;
			z-index: -1;
			padding: 60px 0 0;

			@include bp($dk) {
				display: none;
			}

			&-brcr {
				padding: 0 15px 10px;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;

				span {
					color: rgba($white, .5);
					margin: 0 0 0 4px;

					&::before {
						content: '/';
						margin-right: 4px;
					}

					&:first-child {
						margin: 0;

						&::before {
							content: '<';
						}
					}
				}
			}

			ul {
				padding-left: 0;
				margin-bottom: 0;
			}
			.toggle-submenu {
				.header-menu-mobile-ul {
					width: 100%;
					display: none !important;


					li {
						background-color: $blue-menu-light;
						margin-bottom: 0;
						border-bottom: 1px solid $blue;
					}

					
				}
				&.active {
					.header-menu-mobile-ul {
						display: block !important;
					}
				}
			}


			& > ul {
				& > li {
					&:first-child {
						padding-top: 0;

						& > a {
							display: none;
						}
					}
				}
			}

			li {
				display: block;
				padding: 10px 15px;
				background-color: rgba($white, .2);
				margin-bottom: 1px;

				a {
					color: $white;
				}

				&:first-child {
					background-color: transparent;

					& > ul {
						display: none;
						position: static;
						width: 100%;

						&.active {
							display: block;
						}

						li {
							background-color: transparent;
							color: $white;

							a {
								padding: 0;
							}
						}
					}
				}
			}

			&.collapsed {
				display: none;
			}

			.socials {
				display: block;
		    padding: 10px 25px;
		    background-color: rgba($white, .2);
		    margin-bottom: 1px;
				color: $white;

				span {
					float: left;
				}

				a {
					color: $white;
					margin: 0 8px;
					font-size: 21px;
					line-height: 0;
				}

				&-items {
					margin: 0;
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}

				&-items-mobile {
					margin: 0;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			.newsletter {
				display: block;
		    padding: 10px 25px;
		    background-color: $gray-footer;
				color: $white;

				p {
					font-size: (10 / 16) * 1rem;
					margin-bottom: 0;
				}

				p:last-child {
					font-size: (12 / 16) * 1rem;
					margin-bottom: 0;
				}

				&-input {
					background-color: rgba($white, .2);
					border-bottom: $one-white-border;
			    width: 100%;
			    margin: 8px auto;
					padding: 3px 10px;
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					align-items: center;

					input {
						background-color: transparent;
						color: $white;
						width: 90%;
						border: 0;
						font-size: $font-size-small;

						&:focus {
							outline: 0;
						}

						&::placeholder {
							color: $white;
							font-weight: $font-weight-light;

						}

					}

					button {
						background-color: transparent;
						color: $white;
						border: 0;
						font-weight: $font-weight-lightest;
				    font-size: 22px;
				    width: 10%;
				    line-height: 1;
					}

				}

			}
		}
	}
}


.home-template,
.page-template-page-privati,
.home-template-page-servizi-home,
.post-type-archive-home {
	.header {
		&-menu {
			&-mobile {
				background-color: $white;

				li {
					background-color: rgba($blue, .2);

					a {
						color: $blue;
					}

					&:first-child {
						background-color: transparent;

						& > ul {

							&.active {
							}

							li {
								background-color: transparent;
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
}
