.header {
	&-menu {
		&-section {
			@extend .header-menu-top;

			& >div {
				& > ul {
					& > li {

						&.button-red {
							a{
								background-color: #e41e13;
								color: #ffffff;
								padding: 0.1rem 0.9rem;
								border-radius: 0.6rem;
							}
						}

						&:focus,
						&:hover {
							& > ul {
								display: flex;
								flex-flow: column nowrap;
								background-color: rgba($blue, .9);
								.post-type-archive-home & {
									background-color: rgba($white, .9);
								}
							}
						}

						// & > ul {
						// 	height: 510px;
						// }

						&:nth-child(n+5) {
							&:focus,
							&:hover {
								& > ul {
									left: auto;
									right: 0;
								}
							}

							.menu {
								&-lv1 {
									&:focus,
									&:hover {
										ul {
											left: auto;
											right: 100%;
											flex-flow: row-reverse nowrap;
										}
									}
								}

							}
						}
					}
				}

			}

			.menu {
				&-home {
					background-color: $yellow;

					a {
						padding: 10px 30px 8px;
					}

					img {
						width: 24px;
					}

				}

				&-lv1 {
					width: 230px;
					min-height: 100px;
					position: static;
					border-bottom: $one-white-03-border;

					&:focus,
					&:hover {
					  background-color: $yellow;
					}

					& > a {
						padding: 20px 30px;

						p {
							text-transform: none;
							margin-top: 10px;
							margin-bottom: 10px;
							font-weight: $font-weight-light;
							line-height: 1.3;
						}

						&:focus,
						&:hover {
						  background-color: inherit;
						  color: $white;
						}
					}

					&:last-child {
						border-bottom: 0;
					}

					& > ul {
						display: none;

						& > li {
							// max-width: 460px;
							min-width: 230px;
						}
					}

					li {
						background-color: transparent;

						a {
							padding: 30px 30px 10px;
							border: 0;
						}
					}

					&:hover {
					  & > ul {
							display: flex;
							flex-flow: row nowrap;
							justify-content: flex-start;
							align-items: flex-start;
							top: 0;
					    left: 100%;
							min-height: 64vh;
					    max-height: 70vh;
							background-color: rgba($blue, .9);

							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-color: rgba($white, .3);

							}

							@include bp($dk) {
					      max-height: 120vh;
					    }
						}
					}
				}

				&-lv2 {
					width: auto;
					max-height: 70vh;
					min-height: 510px;

					.ulcol {
						$size: 180px;

						&-1 {
							width: $size;
						}

						&-2 {
							width: 2 * $size;

							align-items: flex-start;

							& > li {
								width: 50%;
							}
						}

						&-3 {
							width: 3 * $size;

							& > li {
								width: 33.333333%;
								align-items: flex-start;
							}
						}

						&-4 {
							width: 4 * $size;

							& > li {
								width: 25%;
								align-items: flex-start;
							}
						}

						@include bp($dk) {
							max-height: 100vh;
						}

						@include bp(1000px) {
							$size: 200px;

							&-1 {
								width: $size;
							}

							&-2 {
								width: 2 * $size;

							}

							&-3 {
								width: 3 * $size;
							}

							&-4 {
								width: 4 * $size;
							}
						}

						@include bp($hd-dk) {
							$size: 230px;
							max-height: 70vh;

							&-1 {
								width: $size;
							}

							&-2 {
								width: 2 * $size;

							}

							&-3 {
								width: 3 * $size;
							}

							&-4 {
								width: 4 * $size;
							}
						}

					}

					&:focus,
					&:hover {
						a {
							background-color: inherit;
							color: $white;
						}
					}

					a {
						background-color: inherit;
						color: $white;
						&:focus,
						&:hover {
							background-color: inherit;
							color: $white;
						}

					}

					& > ul {
						border-right: $one-white-03-border;
						position: static;
						display: flex;
						flex-flow: column wrap;
						justify-content: flex-start;
						font-size: 5px;
						max-height: 70vh;
						margin-bottom: 30px;

						@include bp($dk) {
							max-height: 100vh;
						}

					}

					&:last-child {
						> ul {
							border-right: 0;
						}
					}

					li {
						a {
							text-transform: none;
							font-weight: $font-weight-light;
							padding: 5px 30px;

							&:focus,
							&:hover {
							  background-color: inherit;
								color: $yellow;
							}
						}

						&.menu-lv3 {
							& > a {
								font-weight: $font-weight-bold;
							}
						}


					}

					@include bp($dk) {
						max-height: 120vh;
				    padding-right: 2.25rem;
					}
				}

				&-lv3 {
					display: block;
					min-width: 230px;
					position: static;

					& > ul {
						position: static;

						li {
							&:last-child {
								padding-bottom: 20px;

							}
						}
					}
				}
			}
		}
	}
}

.post-type-archive-pa,
.pa-template {
	.header-menu-section {
		ul {
			justify-content: flex-start;
		}
	}
}

.home-template,
.page-template-page-privati,
.home-template-page-servizi-home,
.post-type-archive-home {
	.header {
		&-menu {
			&-section {
				position: absolute;

			}
		}
	}
}
