.header {
	&-menu {
		&-top {
			display: none;
			@include bp($dk) {
				display: block;
				width: 100%;
				border-bottom: $one-white-03-border;
				padding: 0 45px;

				&-collapsed {
					display: none;
				}

				ul {
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;

					li {
						&:focus,
						&:hover {
							& > a {
								// background-color: $yellow;
								// color: $blue;
								outline: 0;
							}
						}

						ul {
							display: none;
						}
					}
				}

				.current-menu-ancestor,
				.current-menu-item {

					background-color: $yellow;
					// color: $blue !important;

					& > a {
						background-color: $yellow;
						color: $blue;

						&:focus,
						&:hover {
							.tooltip {
								display: none;
							}
						}
					}
					&.menu-lv1 {
						& > a {
							color: $blue !important;
						}
					}
				}

				a {
					font-size: $font-size-small;
					font-weight: $font-weight-bold;
					color: $white;
					padding: 10px 30px;
					display: block;
					position: relative;

					.tooltip {
						display: none;
						position: absolute;
						top: calc(100% - 2px);
						left: -15px;
						background-color: rgba($white, .9);
						color: $blue;
						padding: 20px 15px;
						border-top: 1px solid $yellow;
						width: 220px;
						z-index: 1;
						opacity: 0;
						transition: all 500ms linear;

						&::before {
							content: '';
							position: absolute;
							left: 20px;
							top: -8px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 10px 7px;
							border-color: transparent transparent $yellow;
						}
					}

					&:focus,
					&:hover {
						// background-color: $yellow;
						// color: $blue;
						outline: 0;

						.tooltip {
							display: block;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.home-template,
.page-template-page-privati,
.home-template-page-servizi-home,
.post-type-archive-home {
	.header {
		&-menu {
			&-top {

				@include bp($dk) {
					border-bottom: 1px solid $blue;
				}

				ul {
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;

					li {
						&:focus,
						&:hover {
							& > a {
								// background-color: $yellow;
								// color: $blue;
								outline: 0;
							}
						}

						ul {
							display: none;
						}
					}
				}

				.current-menu-ancestor,
				.current-menu-item {

					// background-color: $yellow;
					// color: $blue !important;

					
					& > a {
						background-color: $yellow;
						color: $blue;

						&:focus,
						&:hover {

							// color: $blue !important;
							.tooltip {
								display: none;
							}
						}
					}
				}

				a {
					color: $blue;

					.tooltip {
						background-color: $blue;
						color: $white;
					}
				}
			}
		}
	}
}
