.navigator {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background-color: rgba($blue, .8);
	padding-top: 0;
	padding-bottom: 0;
	overflow-y: hidden;

	@include bp($tb) {
		padding-top: 15px;
		padding-bottom: 20px;
	}

	@include bp($dk) {
		position: absolute;
		padding-top: 15px;
		padding-bottom: 20px;
    margin-bottom: 7px;
	}

	.container {
		display: flex;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;

		@include bp($tb) {
			padding-top: 15px;
			padding-bottom: 20px;

			max-width: fit-content;
		}
	}

	&-item {
		color: $white;
		padding: 0px 10px 37px;
		width: 33.333333%;
		position: relative;
		cursor: pointer;
		transition: all 200ms linear;
		background-color: rgba($blue, .9);

		&:nth-child(2) {
			background-color: rgba($blue, .7);

			@include bp($tb) {
				background-color: transparent;

			}
		}

		@include bp(576px) {
			padding: 10px 20px 37px;

		}

		@include bp($tb) {
			padding: 5px 30px 0;
			width: 33.333333%;
			background-color: transparent;

		}

		@include bp($dk) {
			padding-top: 15px;

		}



		& > img {
			width: 100%;
			height: auto;

			@include bp($tb) {
				display: none;
			}
		}

		& > p, {
			visibility: hidden;
			opacity: 0;
			transition: all 200ms linear;

			@include bp($tb) {
				display: block;
				opacity: 1;
			}
		}

		& > h3 {
			padding-top: 12px;

			@include bp($tb) {
				padding-top: 0;
			}
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 0;
			background-color: $red;
			top: 0;
			left: 0;

			@include bp($tb) {
				height: 1px;

			}
		}

		&.current {
			width: 50%;
			background-color: transparent;

			@include bp($tb) {
				width: 33.333333%;
			}

			& > p, {
				visibility: visible;
				opacity: 1;
			}


			&::before {
				height: 0;
				top: -1px;

				@include bp($tb) {
					height: 3px;

				}
			}
		}

		&:first-child {
			@include bp($tb) {
				/*padding-left: 0;*/
			}
		}

		p {
			margin-bottom: 0;
		}

	}
}

body.agency-template-page-ss {
	.slider {
		.navigator {
			display: none;
		}
	}
}
