.slider {
	// max-height: 650px;
	//
	// .slick-list {
	// 	max-height: 650px;
	//
	// }

	&-container {
		width: 100%;

		.container {
			position: relative;
			padding-top: 35%;
			padding-bottom: 0;
			margin: 30px auto;

			@include bp($tb) {
				margin: 145px auto 0;
			}
		}
	}

	&-data {
		position: absolute;
		top: 80%;
		transform: translateY(-50%);
		left: 0;
		z-index: 1;
		width: 65%;
		display:none;

		@include bp($tb) {
			width: 35%;
			top: 43%;
			display: none;
		}

		@include bp($dk) {
			top: 50%;
			display:block;
		}

		@include bp($hd-dk) {
			width: 45%;
		}

		@include bp(1930px) {
			top: 35%;
		}

		a {
			margin-left: 2rem;
		}
	}
}

.page-template-page-areaclienti,
.page-template-page-dovesiamo,
.page-template-page-news {
	.breadcrumbs {
		color: $text-color;

		a {
			color: $text-color;
		}
	}

	.slider {
		&-data {
			margin-top: 144px;
			width: 100%;

			@include bp($tb, 991px) {
				margin-top: 0;
			}
		}

		&-container {
			width: 100%;

			.container {
				padding-top: 3rem;
				margin: 0 auto;

				@include bp($tb) {
					margin: 144px auto 0;
				}
			}
		}
	}
}
