{% spaceless %}

{#
  :: SLIDER ::

  PARAMS:
	- navigator:												{<object>}
	---- title:													{<string>}
	---- description:										{<string>}
	---- type:													{<string>}




  USAGE:
  - include
#}

{# Variables set #}
{% set title = title | default('') %}
{% set description = description | default('') %}
{% set image_mobile = image_mobile | default(empty) %}
{% set index = index | default(0) %}

{# Layout #}
{% endspaceless %}

	<div class="navigator-item{% if index == 1 %} current{% endif %}" data-slide="{{index}}">
		{% include 'components/atoms/bottom_header_title.twig' with {title: title} only %}
		{% include 'components/atoms/bottom_header_text.twig' with {description: description} only %}
		{% if image_mobile is not empty %}<img src="{{image_mobile.url}}">{% endif %}
	</div>
