{% spaceless %}



<!-- Strips -->

{% endspaceless %}<div class="strips">

{% for item in strips %}
	{% if item.strip.type == "numverde" %}
		{% include 'components/atoms/strip_numverde.twig' with {item: item,id_num:loop.index} only %}
	{% else %}
		{% include 'components/atoms/strip.twig' with {item: item,id_num:loop.index,api:api} only %}
	{% endif %}
{% endfor %}

</div>
