.breadcrumbs {
	@include bp(992px) {
		display: block;
	}
	display: none;
	text-transform: uppercase;
	position: absolute;
	bottom: -40px;
	width: 100vw;
	left: 0;
	font-size: $font-size-small;
	color: $white;
	letter-spacing: 1px;

	a {
		color: $white;
	}
}

body.home .breadcrumbs {
	display: none;
}

.page-template {
	&-page-areaclienti {
		.breadcrumbs {
			color: $text-color;

			a {
				color: $text-color;
			}
		}
	}
}
