.btn {
	border: 1px solid $text-color;
	padding: 6px 50px;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	display: inline-block;
	text-align: center;

	&:focus,
	&:hover {
		text-decoration: none;
		background-color: $text-color;
		color: $white;
	}

	&.inverted {
		border-color: $white;
		color: $white;

		&:focus,
		&:hover {
			background-color: $white;
			color: $text-color;
		}
	}

	&--offer{

		text-align: left;
		border: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&:after{

			content: '\25BA';
			color: $blue;
			font-size: 9px;
			border-radius: 50%;
			width: 16px;
			height: 16px;
			margin-left: 16px;
			display: inline-flex;
			background: $white;
			align-items: center;
			justify-content: center;
			font-weight: normal;
		}

		&:hover{

			background: none !important;
			color: inherit !important;
		}
	}
}

.slider-data {
	.btn {
		border-color: $blue;

		&:focus,
		&:hover {
			text-decoration: none;
			background-color: $blue;
			color: $white;
		}

		&.inverted {
			border-color: $white;
			color: $white;

			&:focus,
			&:hover {
				background-color: $white;
				color: $blue;
			}
		}
	}
}

.page-template-page-news,
.archive-page {
	.more {
		margin: 4rem auto;
		text-align: center;
		position: relative;

		.spinner {
			content: '';
			width: 3rem;
			height: 3rem;
			position: absolute;
			top: -100%;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(../images/loading_spinner.gif);
			background-position: center;
			background-size: cover;
			// background-color: red;

			&.hidden {
				display: none;
			}
		}

		.btn {
			padding: 15px 40px;

			&:focus {
				background-color: $white;
				color: $text-color;
			}
		}
	}
}
