.editorial {
	&-item {
		&-category {
			font-weight: $font-weight-black;
			font-size: (10 / 16) * 1rem;
			color: $white;
			background-color: $blue;
			text-transform: uppercase;
			padding: 10px 13px;
			display: inline-block;
			line-height: 1;

			&:focus,
			&:hover {
			  text-decoration: none;
				color: $white;
			}

			&.inverted {
				color: $blue;
				background-color: $yellow;
			}
		}
	}
}
