form {
	&.footer {
		&-form {
			border-bottom: $one-white-border;
			height: 24px;
			width: 100%;
			max-width: 450px;
			background-color: rgba(255, 255, 255, .3);
			color: $white;
			font-size: (12 / 16) * 1rem;

			input {
				width: 80%;
				margin: 0 10px;
				border: 0;
				background-color: transparent;


				&::placeholder {
					color: $white;

				}
			}

			button {
				color: $white;
				background-color: transparent;
				border: 0;
				float: right;
			}
		}
	}
}
