nav {
 	ul {
		list-style: none;

		li {
			display: inline-block;
			position: relative;

			ul {
				display: none;
				position: absolute;
				top: calc(100% + 1px);
				left: 0;

				li {
					width: 100%;
				}

				a {
					text-align: left;
					width: 100%;
				}
			}

			&:hover {
			  ul {
					display: block;
				}
			}

			a {
				padding: 0 10px;
				text-align: center;

				&:focus,
				&:hover {
				  text-decoration: none;

				}
			}
			&.off {
				ul {
					li {
						a {
							&:hover {
								color: $yellow;
							}
						}
					}
				}
			}
		}
	}
}

.menu-light-vertical {
	li.menu-lv2{
		ul{
			flex-flow: column nowrap !important;
		}
	}
}

.menu-light-color{
	> ul {

		> li {
			display: block;
			background-color: #5b729f!important;

			&.menu-lv1{
				background-color: #5b729f!important;
				border-bottom:0;

				> a {
					padding: 20px 30px 0px;
				}

				ul{
					display: block;
					border-bottom: 0;
				}
			}

			> ul{
				position: relative;
				right:0!important;
				flex-flow: column nowrap!important;
				display:block!important;
				margin-bottom: 45px;

				li{
					a {
				    padding: 5px 30px 0px!important;
					}
				}
			}
		}
	}

}
