h1 {
	&.slider {
		&-title {
			padding: .7rem 0 .4rem 2rem;
			font-size: 1.1rem;
			font-weight: $font-weight-bold;
			color: $white;
			position: relative;
			line-height: 1.5;
			z-index: 1;

			@include bp($tb) {
				font-size: 1.8rem;
			}

			@include bp($hd-dk) {
				font-size: 2.5rem;
			}

			&.inverted {
				color: $blue;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				background-color: $yellow;
				height: 2.6rem;
		    width: 2.6rem;
		    top: 0.18rem;
		    left: 0.6rem;
				border-radius: 100%;
				z-index: -1;

				@include bp($tb) {
					height: 3rem;
					width: 3rem;
					top: .5rem;
					left: .9rem;

				}

				@include bp($hd-dk) {
					height: 5rem;
					width: 5rem;
					top: 0;
					left: 0;

				}
			}

			&-logo {
				padding: 0 0 .4em .9em;
				font-size: (42 / 16) * 1rem;
			}
		}
	}
}

.page-template {
	&-page-contacts,
	&-page-areaclienti,
	&-page-dovesiamo,
	&-page-news {
		h1 {
			&.slider {
				&-title {
					color: $blue;
					padding-right: 15px;
				}
			}
		}
	}
}
