.slider {
	&-text {
		padding-left: 2rem;
		padding-right: 2rem;
		font-size: .8rem;
		font-weight: $font-weight-light;
		width: 100%;
		max-width: 430px;
		line-height: 1.2;
		color: $white;

		@include bp($tb) {
			font-size: (14 / 16) * 1rem;
		}

		@include bp($hd-dk) {
			font-size: (22 / 16) * 1rem;
		}

		&.inverted {
			color: $blue;
		}
	}
}

.page-template-page-areaclienti,
.page-template-page-dovesiamo,
.page-template-page-news {

	.slider {
		&-text {
			color: $text-color;
			max-width: 100%;
			display: block;
			padding-right: 15px;
		}
	}
}

.page-template-page-areaclienti {
	.slider {
		&-text {
			font-size: $font-size-base;
			font-weight: $font-weight-normal;
			margin-top: 1rem;
		}
	}
}
