.strip_container
{
  color: $black;
  background-color: $white;
	// padding: 10px 10px;
	margin: 5px 0;
	// box-shadow: $one-px-shadow;
	// display: none;

  height: auto;
	min-height: 250px;
	max-height: 100vh;
	overflow-y: scroll;
  width: 100%;
  left: 0px;
  padding: 40px 10px;
  // left: 0px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;

  // max-width: 96vw;
  z-index: 2;
  // padding: 40px 60px;
  position: fixed;
  top: 0;
  // left: 20px;
  // right: 20px;

  @include bp($dk) {
    top: auto;
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;

    transition: left 0.2s linear;

    padding: 40px 60px;
    width: 80vw;
    max-width: 80vw;

		&.strip-small,
		,
		&.strip-small.strip-chiamaci {
			max-width: 400px;
		}

		&.strip-chiamaci {
      padding-top: 0;
      padding-bottom: 0;
		}
  }

	@include bp(1920px) {
		max-width: 1300px;
	}

  &.strip_inside
  {
    border-left:none;
    @include bp($dk) {
      border-left: 3px solid $red;
    }
  }

  &.opened
  {
    visibility: visible;
    opacity: 1;
    @include bp($dk) {
      left: -80vw;

			&.strip-small,
			&.strip-small.strip-chiamaci {
				left: -400px;
			}

			&.strip-small.strip-chiamaci{
				padding-left: 0;
			}
    }

		@include bp(1920px) {
			left: -1300px;
		}
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &.no-callme{
    width: 100%;
    left: 0px;

    @include bp($dk) {
      width: 45vw!important;
      left: -45vw!important;
    }

    @include bp($hd-dk) {
      width: 32vw!important;
      left: -32vw!important;
    }
  }

  a.close_strip
  {
    border: 1px solid $black;
    border-radius: 50%;
    padding: 5px;
    color: $black;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: $transition-fade;
    @include bp($dk) {
      right: 10px;
      top: 10px;
    }

    &:hover
    {
      opacity: 0.7;
    }
  }
  .content
  {
    position: relative;

		.call-item {

		}
  }
}
