{% spaceless %}

{#
  :: Applications ::

  PARAMS:
  ---- title:													{<string>}
  ---- item:													{<object>}
	-------- link:										  {<string>}
	------------ url:										{<string>}
	------------ title:										{<string>}


  USAGE:
  - include
#}
{# Variables set #}
{% set title = contents.title|default(empty) %}
{% set item = contents.item|default(empty) %}



{# Layout #}
{% endspaceless %}<div class="flex flex-applications container">
	<div class="flex-head">
		<h3>{{title}}</h3>
	</div>
	<ul class="flex-applications-content">
		{% for el in item %}
			<li><a href="{{el.link.url}}">{{el.link.title}}</a></li>
		{% endfor %}
	</ul>

</div>
