{% spaceless %}

{#
  :: Banner ::

  USAGE:
  - include
#}
{# Variables set #}
{% set title = contents.title|default(empty) %}
{% set description = contents.description|default(empty) %}
{% set icon = contents.icon_image|default(empty) %}
{% set cta = contents.cta|default(empty) %}
{% set cta2 = contents.cta_2_cta|default(empty) %}



{# Layout #}
{% endspaceless %}<div class="flex flex-banner-icon">
	<div class="flex-banner-icon-bg">
		<div class="container">
			<div class="row align-items-center">
				<div class="flex-head col-sx-12 col-md-4">
					{% if icon is not empty %}<img src="{{icon.url}}" />{% endif %}
					<p>{{title|raw}}</p>
				</div>
				<div class="flex-content col-sx-12 col-md-8">
							<div class="row align-items-center">
								<div class="description col-sx-12 col-md-8">
									<p>{{description|raw}}</p>
								</div>
								<div class="button col-sx-12 col-md-4">
									{% include 'components/atoms/cta.twig' with { link: cta.url, label: cta.title } %}

									{% if cta2 is not empty %}
										{% include 'components/atoms/cta.twig' with { link: cta2.url, label: cta2.title } %}
									{% endif %}

								</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
