{% spaceless %}

{#
  :: Banner ::

  PARAMS:
  ---- title:															{<string>}
  ---- subtitle:													{<string>}


  USAGE:
  - include
#}
{# Variables set #}
{% set title = contents.title %}
{% set subtitle = contents.subtitle %}



{# Layout #}
{% endspaceless %}<div class="flex flex-banner container">
	<div class="flex-head">
		<h2>{{title}}</h2>
		<h3>{{subtitle}}</h3>
	</div>
</div>
