{% spaceless %}

	{#
  :: breaking_news ::

  PARAMS:
  - brNews:    		  									{<object>}
  ---- day:														{<object>}
  ------- name:												{<string>}
  ------- number:											{<string>}
  ---- text:            			    		{<object>}
  -------- first:											{<string>}
  -------- second:										{<string>}
	---- items:													{<object>}
	-------- title:											{<string>}
	-------- link:											{<string>}



  USAGE:
  - include
#}

	{# Variables set #}
	{% set text = contents.brNews.text %}
	{% set day = contents.brNews.day %}
	{% set items = contents.brNews.items %}

	{# Layout #}
{% endspaceless %}
<div class="flex-breakingnews">

	<div class="container">
		<div class="flex-breakingnews-container">

			{% include 'components/atoms/breaking_news_head.twig' with {
			text : text
			}
			only %}
			<div class="flex-breakingnews-container-mobvar">

				{% include 'components/atoms/breaking_news_date.twig' with {
				day : day
				}
				only %}

				<div class="flex-breakingnews-slider">

					<div class="flex-breakingnews-slick">

						{% for item in items %}

						{% include 'components/atoms/breaking_news_news.twig' with {
						title : item.title,
						link: item.link,
						region: item.region,
						country: item.country,
						lang: item.lang
						}
						only %}

						{% endfor %}

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
