{% spaceless %}
{# Variables set #}
{% set items = contents.elements.items %}

{# Layout #}
{% endspaceless %}
<div id="tab" class="flex-information-tab container">
	<ul class="nav nav-pills">
		{% for item in items %}
		<li>
	    <a href="#item-{{loop.index}}" data-toggle="tab" class="{% if loop.index==1 %}active{% endif %}">{{item.title}}</a>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content clearfix">
		{% for item in items %}
	  <div class="tab-pane" id="item-{{loop.index}}" style="{% if loop.index==1 %}display:block{% endif %}">
	    {{item.description|raw}}
		</div>
		{% endfor %}
	</div>
</div>
