{% spaceless %}
{# Variables set #}
{% set title = contents.title %}
{% set description = contents.description %}
{% set items = contents.elements.items %}
{% set bottom_description = contents.bottom_description %}

{# Layout #}
{% endspaceless %}
<div class="flex-service-convention container">
	<div class="flex-head">
		{% if title is not empty %}<h2>{{title}}</h2>{% endif %}
		{% if description is not empty %}<div>{{description|raw}}</div>{% endif %}
	</div>
</div>

{% include 'components/flexible/informations.twig' with {contents : contents} only %}

{% if bottom_description is not empty %}
<div class="bottom_description container">
	{{bottom_description}}
</div>
{% endif %}
