{% spaceless %}

{#
  :: Title and Description ::

  PARAMS:
	- solutions:    		  									{<object>}
  ---- title:															{<string>}
  ---- description:												{<string>}
  ---- image:															{<string>}
	-------- url:														{<string>}
	-------- alt:														{<string>}
	-------- width:		 											{<string>}
	-------- height:	 											{<string>}
	-------- sizes:													{<string>}
	------------ thumbnail: 	   						{<string>}
	------------ thumbnail-width: 					{<string>}
	------------ thumbnail-height: 					{<string>}
	------------ medium: 										{<string>}
	------------ medium-width:							{<string>}
	------------ medium-height: 						{<string>}
	------------ medium_large: 							{<string>}
	------------ medium_large-width: 				{<string>}
	------------ medium_large-height: 			{<string>}
	------------ large: 										{<string>}
	------------ large-width: 							{<string>}
	------------ large-height: 							{<string>}
  ---- cta:																{<string>}
  -------- link:												  {<string>}
  -------- title:												  {<string>}




  USAGE:
  - include
#}

{# Variables set #}
{% set solutions = contents %}

{# Layout #}
{% endspaceless %}<div class="flex flex-solutions" >
	<div class="flex-solutions-bg">
			<div class="container">
				<div class="row align-items-center">
					{% for el in solutions.item %}
					<div class="flex-solutions-content col-md 6">
						<img class="flex-solutions-img" src="{{ el.icon_image.url }}" alt="">
						<h3>{{ el.title }}</h3>
						<div class="dot-wrapper">
							<p class="">{{ el.description }}</p>
						</div>
						{% include 'components/atoms/cta.twig' with { link: el.cta.url, label: el.cta.title } only %}
					</div>
					{% endfor %}
				</div>
			</div>
	</div>
</div>
