{% spaceless %}

{#
  :: Portfolio ::

  PARAMS:
	- portfolio:    		  									{<object>}
  ---- title:															{<string>}
  ---- subtitle:													{<string>}
  ---- items:		            			    		{<object>}
  -------- item:													{<object>}
  ------------ image 											{<string>}

#}

{# Variables set #}

{% set items = contents.items %}

{# Layout #}
{% endspaceless %}<div class="flex flex-story">
	<div class="container">
		<div class="flex-head">
			<h2>{{contents.title}}</h2>
		</div>

		{% for item in items %}
		<div class="flex-story-item">
			<div class="flex-story-year">
				<h3>{{item.year}}</h3>
			</div>
			<div class="flex-story-description">
				{{item.description|raw}}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
