{% spaceless %}

{#
  :: Applicate Sector ::

  PARAMS:
  ---- items:            			    						{<object>}
  -------- cta:	            			    				{<object>}

  USAGE:
  - include
#}
{# Variables set #}
{% set sector = contents %}
{% set items = sector.item %}

{# Layout #}
{% endspaceless %}<div class="applicate_sector">
<h3>{{sector.title}}</h3>
{% if items|length > 0 %}
	<ul>
	{% for item in items %}
		{% set cta = item.cta %}
		<li>{% include 'components/atoms/link_list.twig' with { link: cta.url, label: cta.title } only %}</li>
	{% endfor %}
	</ul>
{% endif %}
</div>
