{% spaceless %}

{#
  :: Call Us ::

  PARAMS:
	- callus:    		  										{<object>}
  ---- title:															{<string>}
  ---- subtitle:													{<string>}
  ---- story_title:												{<string>}
  ---- story_subtitle:										{<string>}
  ---- cta:																{<object>}




  USAGE:
  - include
#}

{# Variables set #}
{% set callus = contents %}
{% set title = callus.title|default(empty) %}
{% set subtitle = callus.subtitle|default(empty) %}
{% set phone = callus.callcenter|default(empty) %}

{% set cta = callus.cta|default(empty) %}

{# Layout #}
{% endspaceless %}<div class="callus">
	<h3><center>{{title}}</center></h3>
	<em>{{phone}}</em>
	<p>{{ subtitle }}</p>
	<input type="text" name="" value="" placeholder="Numero di telefono">
	{% include 'components/atoms/cta.twig' with { link: cta.url, label: cta.title, inverted: true } only %}
	<p class="thin">Premendo il pulsante, accetti la politica di privacy</p>
</div>
