{% spaceless %}

{#
  :: FOOTER COL ::

  PARAMS:
  - menu:        menu object {<object>}
  	- title:       menu title {<string>}
  	- title:       menu items {<object>}
#}

{# Variables #}
{% set title = menu.title|default('') %}
{% set items = menu.items|default({}) %}

{# Layout #}
{% endspaceless %}<div class="col col-pad d4">
		<nav class="footer-menu">
				<h4 class="title">{{title}}</h4>
				{# {% include 'components/menu_items.twig' with { items : items } only %} #}
		</nav>
</div>
