<footer id="footer">
	<div class="container">
			{% include 'components/molecules/footer_top_bar.twig' %}
			{% include 'components/molecules/footer_middle_bar.twig' %}
			{% include 'components/molecules/footer_bottom_bar.twig' %}
	</div>
</footer>
