{% spaceless %}

{#
  :: CONFIGURATOR MILTIPLE QUESTION ::

  PARAMS:
  ---- title:															{<string>}
  ---- subtitle:													{<string>}


  USAGE:
  - include
#}
{# Variables set #}
{% set request = question.question|default('Qual\'è il C.A.P. della tua Azienda.') %}
{% set answers = question.answers|default({}) %}

{% set field = field|default('answer_'~loop.index) %}

{# Layout #}
{% endspaceless %}<div class="question question--cap{% if loop.index == 1 %} on{% endif %}">

	<h3>{{request}}</h3>
	<div class="answers">
			<div class="answer">
				<label>Inserisci CAP <input name="{{field}}" type="text" maxlength="6" value="" /></label>
			</div>
	</div>

</div>
