{% spaceless %}

{% set title = title|default("Scrivici") %}
{% set content = content|default(empty) %}
{% set label = item.strip.label|default(empty) %}

{% endspaceless %}<div class="strip_text_title strip_list">
  <h2>{{title}}</h2>
  <div class="content">

    Scegli la tua area di interesse:
    <ul>
      <li>
        <a href="#ofsepr">Offerta e servizi per <strong>Privati</strong></a>
      </li>
      <li>
        <a href="#ofsenu">Offerta e servizi per <strong>Negozi e uffici</strong></a>
      </li>
      <li>
        <a href="#ofseaz">Offerta e servizi per <strong>Aziende</strong></a>
      </li>
      <li>
        <a href="#ofsepa">Offerta e servizi per <strong>Pubblica Amministrazione</strong></a>
      </li>
      <li>
        <a href="#riclav"> <strong>Richieste di Lavoro</strong></a>
      </li>
      <li>
        <a href="#uffsta"> <strong>Ufficio Stampa</strong></a>
      </li>
      <li>
        <a href="#varie"> <strong>Varie</strong></a>
      </li>
    </ul>

  </div>
</div>

<div class="strip_panel" id="ofsepr">
  {% include 'components/molecules/strip_form.twig' with {title: "Offerta e servizi per <b>Privati</b>",typeForm: "privati",api:api} only %}
</div>
<div class="strip_panel" id="ofsenu">
  {% include 'components/molecules/strip_form.twig' with {title: "Offerta e servizi per <b>Negozi e Uffici</b>",typeForm: "negozi_e_uffici",api:api} %}
</div>
<div class="strip_panel" id="ofseaz">
  {% include 'components/molecules/strip_form.twig' with {title: "Offerta e servizi per <b>Aziende</b>",typeForm: "aziende",api:api} %}
</div>
<div class="strip_panel" id="ofsepa">
  {% include 'components/molecules/strip_form.twig' with {title: "Offerta e servizi per <b>Pubblica Amministrazione</b>",typeForm: "pubblica_amministrazione",api:api} %}
</div>

<div class="strip_panel" id="riclav">

  {% set contentt = "<strong>Puoi visitare il nostro portale Lavora con Noi</strong> per consultare le posizioni disponibili a inviare la tua candidatura.<a href=\"/portale\" class=\"button\" >VAIL AL PORTALE</A>" %}

  {% include 'components/atoms/strip_text_title.twig' with {title: "Richiesta di lavoro",class:" red-title",content: contentt,back:true} %}
</div>
<div class="strip_panel" id="uffsta">

  {% set contentt = "Per Media e PR puoi contattare<br>il nostro Ufficio Stampa InConTra<br><a class=\"mailink\" href=\"mailto:\">a questo indirizzo email</a><br><small><i>oppure</i></small> <br> al numero di telefono  <a class=\"tel-grande\" href=\"tel:06 4740739\">06 4740739</a>" %}

  {% include 'components/atoms/strip_text_title.twig' with {title: "Ufficio stampa",class:" red-title",content: contentt,back:true} %}
</div>

<div class="strip_panel" id="varie">
  {% include 'components/molecules/strip_form.twig' with {title: "Varie",typeForm: "varie",api:api} %}
</div>
