{% spaceless %}

{% set title = title|default(empty) %}
{% set content = content|default(empty) %}
{% set label = item.strip.label|default(empty) %}

{% set class = class|default(empty) %}
{% set back = back|default(false) %}

{% endspaceless %}<div class="strip_text_title{{class}}">

  <h2>{{title}}</h2>
  <div class="content">
    {{content|raw}}

  </div>
  {% if back %}<a class="back_strip" href="#"><i class="icon-left-open"></i> Torna indietro</a>{% endif %}
</div>
