{% spaceless %}

{% set title = item.strip.title|default(empty) %}
{% set content = item.strip.content|default(empty) %}
{% set content_two = item.strip.content_two|default(empty) %}
{% set type = item.strip.type|default(empty) %}
{% set form = item.strip.form|default("all") %}

{% set id_num = id_num %}



{% endspaceless %}<div class="strip_container strip_inside" id="str_cont{{id_num}}">
  <a class="close_strip" href="#"><i class="icon-cancel"></i></a>
  <div class="content">
    {#content|raw#}

    {% if type=="chiamaci" %}

      {% if fn('is_singular', 'agency') or fn('is_page', '824') or fn('is_post_type_archive', 'agency') %}

        {% if fn('is_child', '1781') or fn('is_single', '1781') or fn('is_single', '1872') or fn('is_child', '1872') %}
          {% set twoNumb = false %}
        {% else %}
          {% set twoNumb = true %}
        {% endif %}

      {% else %}
        {% set twoNumb = false %}
      {% endif %}

      {% set title = "Chiamaci" %}
      {% if twoNumb %}
        {% set content = content_two %}

      {% else %}

        {% set content = content %}

      {% endif %}
      {% include 'components/atoms/strip_text_title.twig' with {title: title,content: content} only %}

    {% elseif type=="scrivici" %}

      {% if form=="all" %}
        {% include 'components/atoms/strip_list.twig' with {title: "Scrivici"} %}
      {% else %}
        {% include 'components/molecules/strip_form.twig' with {title: content,typeForm: form,typeF: form,api:api} %}
      {% endif %}
    {% endif %}


  </div>
</div>
